<footer>
  <div class="footer">
    <div class="footer_left">
      <ul>
        <li>
          <a href="javascript:alert('TODO')"><img src="./assets/images/footerlogo2.png" alt="푸터로고" /></a>
        </li>
      </ul>
    </div>
    <div class="footer_content">
      <div>
        <a href="javascript:;" onclick="test()"><span class="orange">개인정보 처리방침</span></a
        >ㅣ<a href="javascript:;" onclick="test()"><span class="bold">서비스 이용약관</span></a
        ><br />사업자등록번호 545-86-00415<br />대표자 : 박수연 / 주소 : 서울시 금천구 가산디지털1로 75-15, 제2층 226호 (가산하우스디와이즈타워)<br />Tel : 070.4085.8709 Fax : 050.4003.0007<br />All Rights Reserved by 수테크시스템즈(주).
      </div>
    </div>
    <div class="footer_top">
      <ul>
        <li>
          <a href="#top"><img src="./assets/images/topbtn2.png" alt="top" /></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
