<app-header></app-header>
<div id="banner">
  <ul>
    <li>
      <!--                <img src="./assets/images/banner01_22.png" alt="배너" class="ban">-->
      <div class="banner_info">
        <img src="./assets/images/banner01_222.png" alt="배너안에이미지" class="pu" />
        <p>고객지원</p>
      </div>
    </li>
  </ul>
</div>
<section id="sec1">
  <div class="sec1_inner">
    <div>
      <p>Home > 고객지원 > <span class="bold_f">문의하기</span></p>
      <div class="center">
        <div class="notice">
          <ul class="left_txt">
            <li class="sec1_txt1"><img src="./assets/images/brownbar.png" alt="갈색바" />&nbsp;1:1 문의</li>
            <!--                            <div class="tab_line"></div>-->
          </ul>
        </div>

        <div class="top_tit">
          <p>(총 007건)</p>
        </div>
        <div class="table_content">
          <form method="post">
            <table>
              <tr>
                <th class="th1">순번</th>
                <th class="th2">제목</th>
                <th class="th3">문의유형</th>
                <th class="th4">작성일자</th>
                <th class="th5">작성자</th>
                <th class="th6">첨부파일</th>
                <th class="th7">조회수</th>
              </tr>

              <tr>
                <td>7</td>
                <td><a href="business3_br.html">에디터 사용 방법 문의입니다.</a></td>
                <td>사용방법</td>
                <td>2021.05.31</td>
                <td>홍길동</td>
                <td>
                  <a href="#none"><img src="./assets/images/disk.png" alt="디스크이미지" /></a>
                </td>
                <td>2</td>
              </tr>
              <tr>
                <td>6</td>
                <td><a href="business18_br.html">&nbsp;&nbsp;&nbsp;&nbsp;[답변] 에디터 사용 문의 답변드립니다.</a></td>
                <td>사용방법</td>
                <td>2021.05.31</td>
                <td>관리자</td>
                <td>
                  <a href="#none"><img src="./assets/images/disk.png" alt="디스크이미지" /></a>
                </td>
                <td>3</td>
              </tr>
              <tr>
                <td>5</td>
                <td><a href="#none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[추가문의] 에디터 안들어가져요..</a></td>
                <td>사용방법</td>

                <td>2021.03.26</td>
                <td>홍길동</td>
                <td>
                  <a href="#none"><img src="./assets/images/disk.png" alt="디스크이미지" /></a>
                </td>
                <td>1</td>
              </tr>
              <tr>
                <td>4</td>
                <td><a href="#none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[답변] 에디터 안들어가져요.. 문의 답변드립니다.</a></td>
                <td>사용방법</td>
                <td>2021.03.21</td>
                <td>관리자</td>
                <td>
                  <a href="#none"><img src="./assets/images/disk.png" alt="디스크이미지" /></a>
                </td>
                <td>3</td>
              </tr>
              <tr>
                <td>3</td>
                <td><a href="#none">에디터 위에 메뉴는 어떻게 사용하는 건가요?</a></td>
                <td>사용방법</td>
                <td>2021.03.18</td>
                <td>홍길동</td>
                <td>
                  <a href="#none"><img src="./assets/images/disk.png" alt="디스크이미지" /></a>
                </td>
                <td>3</td>
              </tr>
              <tr>
                <td>2</td>
                <td><a href="#none">&nbsp;&nbsp;&nbsp;&nbsp;[답변] 에디터 위에 메뉴는 어떻게 사용하는 건가요?</a></td>
                <td>사용방법</td>
                <td>2021.03.12</td>
                <td>관리자</td>
                <td>
                  <a href="#none"><img src="./assets/images/disk.png" alt="디스크이미지" /></a>
                </td>
                <td>3</td>
              </tr>
              <tr>
                <td>1</td>
                <td><a href="#none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[추가문의] 에디터 위에 메뉴는 어떻게 사용하는 건가요?</a></td>
                <td>사용방법</td>
                <td>2021.03.09</td>
                <td>홍길동</td>
                <td>
                  <a href="#none"><img src="./assets/images/disk.png" alt="디스크이미지" /></a>
                </td>
                <td>2</td>
              </tr>
            </table>
          </form>
        </div>

        <div class="btn2">
          <a href="#none">≪</a>
          <a href="#none">＜</a>
          <a href="#none">1</a>
          <a href="#none">2</a>
          <a href="#none">3</a>
          <a href="#none">4</a>
          <a href="#none">5</a>
          <a href="#none">6</a>
          <a href="#none">7</a>
          <a href="#none">8</a>
          <a href="#none">9</a>
          <a href="#none">10</a>
          <a href="#none">＞</a>
          <a href="#none">≫</a>
        </div>
        <div class="btn">
          <a href="business_br.html">문의하기 →</a>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
