<app-header></app-header>
<div id="banner">
  <ul>
    <li>
      <!--                <img src="./assets/images/banner01_22.png" alt="배너" class="ban">-->
      <div class="banner_info">
        <img src="./assets/images/banner01_222.png" alt="배너안에이미지" class="pu" />
        <p>고객지원</p>
      </div>
    </li>
  </ul>
</div>
<section id="sec1">
  <div class="sec1_inner">
    <div>
      <p>Home > 고객지원 > <span class="bold_f">문의하기</span></p>
      <div class="center">
        <div class="notice">
          <ul class="left_txt">
            <li class="sec1_txt1"><img src="./assets/images/brownbar.png" alt="갈색바" />&nbsp;1:1 문의</li>
            <!--                            <div class="tab_line"></div>-->
          </ul>
        </div>

        <div class="top_tit">
          <p>(총 {{ cmmnPagerRef.getTotcnt() }}건)</p>
        </div>
        <div class="table_content">
          <form method="post">
            <table>
              <tr>
                <th class="th1">순번</th>
                <th class="th2">제목</th>
                <th class="th3">문의유형</th>
                <th class="th4">작성일자</th>
                <th class="th5">작성자</th>
                <th class="th6">첨부파일</th>
                <th class="th7">조회수</th>
              </tr>

              <tr *ngFor="let x of bbses; index as i">
                <td>{{ rowNo(i) }}</td>
                <td>
                  <a href="javascript:;" (click)="onDetailClick(x.bbsId)">{{ x.bbsSjNm }}</a>
                </td>
                <td>{{ x.qaaSeCdNm }}</td>
                <td>{{ x.registDt | date: "yyyy-MM-dd" }}</td>
                <td>{{ x.registerNm }}</td>
                <td>
                  <a href="javascript:;" *ngIf="null !== x.atchmnflGroupId"><img src="./assets/images/disk.png" alt="디스크이미지" /></a>
                </td>
                <td>{{ x.inqireCo }}</td>
              </tr>

              <tr *ngIf="0 === bbses.length">
                <td colspan="7" class="text-center">데이터가 없습니다.</td>
              </tr>
            </table>
          </form>
        </div>

        <app-cmmn-pager #cmmnPagerRef (initedEvent)="cmmnPagerInited($event)"></app-cmmn-pager>

        <div class="btn" *ngIf="isAuth">
          <a href="javascript:;" (click)="onRegistClick()">문의하기 →</a>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
