@charset "utf-8";

/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #222328;
    font-family: "맑은 고딕";
}

a {
    text-decoration: none;
    color: #222328;
}

ol,
ul,
li {
    list-style: none;
}

img {
    vertical-align: middle;
    border: 0;
}

.leftbox {
    width: 237px;
    float: left;
}

body {
    background: url(../images/graphpaper.png) center center;
    background-size: 40%;
}
aside{
    display: none;
}
/* 헤더 영역 */
header {
    width: 100%;
    height: 100%;
}

/* 헤더 - 탑메뉴 */
.top_pc {
    width: 100%;
    background: #535353;
    height: 32px;
    text-align: center;

}

.top_pc ul li {
    float: left;
    padding: 0 10px;
    line-height: 32px;

}

.top_pc ul li a {
    display: block;
    font-size: 0.75vw;
    color: #fff;
}

.top_pc ul li:hover a {
    color: lightgray;
}

.left_top {
    float: left;
    padding-left: 10px;
}

.left_top ul li:nth-of-type(1) a {
    font-weight: 600;
    font-size: 0.9vw;
    line-height: 32px;
    color: #a2a2a2;
}

.right_top {
    float: right;
}

.right_top ul li:nth-of-type(1) a,
.right_top ul li:nth-of-type(2) a {
    width: 20px;
    line-height: 28px;
}

.right_top ul li a img {
    width: 100%;
}


/*메인헤더-좌측메뉴*/

.left_menu1 {
    background: #d5d6d8;
    width: 237px;
    height: 532px;
    padding-left: 3px;
}


.left_menu1 h3,
.left_menu2 h3,
.component_box h3 {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,dedddd+100 */
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #dedddd 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%, #dedddd 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%, #dedddd 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dedddd', GradientType=0);
    /* IE6-9 */
    font-size: 15px;
    color: #333;
    padding: 3px 0 3px 13px;
    width: 231px;
    border: 1px solid #9999;
}


.nav1 {
    width: 230px;
    height: 510px;
    background: #fff;

}

.nav2 {
    width: 230px;
    height: 700px;
    background: #fff;

}

.gnb > li,
.gnb2 > li {
    width: 100%;
}

.gnb > li > a,
.gnb2 > li > a {
    display: block;
    padding: 5px 0;
    font-size: 13px;
}

.gnb > li:hover > a,
.gnb2 > li:hover > a {
    background: #eaf2fc;
}

.gnb li img,
.gnb2 li img {
    width: 7%;
}

.sub,
.sub_1,
.sub2,
.sub2_1,
.sub2_2 {

    /*    display: none;*/
    width: 100%;

}

.sub li a,
.sub_1 li a,
.sub2 li a,
.sub2_1 li a,
.sub2_2 li a {
    display: block;
    padding: 5px 0;
    font-size: 13px;
}


.sub > li:hover > a,
.sub_1 > li:hover > a,
.sub2 > li:hover > a:hover > a,
.main_list3:hover > a {
    background: #eaf2fc;
}

.question {
    margin-left: -2px;
}




/*리모콘-좌측메뉴*/
.left_menu2 {
    background: #d5d6d8;
    width: 237px;
    height: 760px;
    padding-left: 3px;

}

.sub2_1:nth-of-type(1) input,
.sub2_1:nth-of-type(2) input,
.sub2_3:nth-of-type(1) input,
.sub2_3:nth-of-type(2) input,
.sub2_3:nth-of-type(3) input,
.sub2_3:nth-of-type(4) input,
.sub2_3:nth-of-type(5) input {
    width: 60px;
    height: 19px;
}

.right_input {
    margin-left: 1px;
}

.sub2_3 li a img {
    width: 11%;
    vertical-align: middle;
    margin-top: -7px;
}

.sub2_1 li a img {
    width: 9%;
    vertical-align: middle;
    margin-top: -7px;
}

.sub2_1 li a .right_array {
    margin-top: -12px;
}

.sub2_1 li a .center_array {
    margin-top: -6px;
}

.black_box {
    background: #000;
    width: 24px;
    height: 11px;
    display: inline-block;
}

.creat_plus {
    width: 233px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-left: -1px;
    background: #eaf2fc;
    cursor: pointer;
    border: 1px solid #9999;

}

.creat_plus img {
    width: 7%;
}

/*컴포넌트박스-상단*/


.component_box {
    background: #d5d6d8;
    height: 120px;
    padding-left: 3px;
}

.component_box h3 {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,dedddd+100 */
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #dedddd 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%, #dedddd 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%, #dedddd 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dedddd', GradientType=0);
    /* IE6-9 */
    font-size: 15px;
    color: #333;
    text-align: center;
    width: 100%;
    border: 1px solid #9999;
}

.inner {
    height: 87px;
    background: #fff;

}

.inner ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}

.inner ul li {
    width: 5%;
    line-height: 84px;
    padding: 0;
}

.inner ul li a img {
    width: 100%;
}




