<app-header></app-header>
<div id="banner">
  <ul>
    <li>
      <!--                <img src="./assets/images/banner01_22.png" alt="배너" class="ban">-->
      <div class="banner_info">
        <img src="./assets/images/banner01_222.png" alt="배너안에이미지" class="pu" />
        <p>마이페이지</p>
      </div>
    </li>
  </ul>
</div>

<!--    <div class="tab_line2"></div>-->
<section id="sec1">
  <div class="sec1_leftmenu">
    <table>
      <tr>
        <td>마이페이지</td>
      </tr>
      <tr class="horver_tr">
        <td><a href="sub/business20">회원정보</a></td>
      </tr>
      <tr class="horver_tr">
        <td><a href="sub/business21">문의내역</a></td>
      </tr>
      <tr class="horver_tr">
        <td><a href="sub/business22">구매내역</a></td>
      </tr>
    </table>
  </div>

  <div class="sec1_inner">
    <div>
      <p>Home > 마이페이지 > <span class="bold_f">구매내역</span></p>
      <div class="center">
        <div class="notice">
          <ul class="left_txt">
            <li class="sec1_txt1">Developer 이용중</li>
          </ul>
        </div>
        <div class="pointline_1"></div>
        <div class="table_content">
          <div class="top_tit">
            <p>(총 003건)</p>
          </div>
          <div class="table_content">
            <form method="post">
              <table>
                <tr>
                  <th class="th1">서비스 명</th>
                  <th class="th2">결제 일</th>
                  <th class="th3">결제 유형</th>
                  <th class="th4">결제 금액</th>
                </tr>
                <tr>
                  <td>DEVELOPER</td>
                  <td>2021-04-22</td>
                  <td>1개월</td>
                  <td>￦ 15,900</td>
                </tr>
                <tr>
                  <td>DEVELOPER</td>
                  <td>2021-03-22</td>
                  <td>1개월</td>
                  <td>￦ 15,900</td>
                </tr>
                <tr>
                  <td>DEVELOPER</td>
                  <td>2021-02-22</td>
                  <td>1개월</td>
                  <td>￦ 15,900</td>
                </tr>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
