<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">안내 메시지 목록</h4>
    <button type="button" class="btn btn-sm close d-none" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table">
      <thead>
        <tr>
          <th>명</th>
          <th>내용</th>
          <th>등록자</th>
          <th>기능</th>
        </tr>
      </thead>
      <tbody>
        <tr [attr.data-index]="i" *ngFor="let x of guidanceMssages; index as i">
          <td><input type="text" class="form-control" value="{{ x.guidanceMssageNm }}" #nmEl /></td>
          <td><input type="text" class="form-control" value="{{ x.guidanceMssageCn }}" #cnEl /></td>
          <td>{{ x.registerNm }}</td>
          <td>
            <button type="button" class="btn btn-outline-secondary btn-sm mx-1" (click)="onUpdateClick(i, nmEl, cnEl)">수정</button>
            <button type="button" class="btn btn-outline-secondary btn-sm" (click)="onDeleteClick(x.guidanceMssageId)">삭제</button>
          </td>
        </tr>

        <tr *ngIf="0 === guidanceMssages.length">
          <td colspan="4" class="text-center">데이터가 없습니다.</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <input type="text" placeholder="안내 메시지 명" #guidanceMssageNmEl />
    <input type="text" placeholder="안내 메시지 내용" #guidanceMssageCnEl />
    <button type="button" class="btn btn-outline-secondary" (click)="onRegistClick(guidanceMssageNmEl, guidanceMssageCnEl)">등록</button>
    <button type="button" class="btn btn-outline-secondary" (click)="modal.close('CLOSE')">닫기</button>
  </div>
</ng-template>
