<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">화면 등록</h4>
    <button type="button" class="btn btn-sm close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <label for="scrinNm">화면 명<span class="req">*</span></label>
      <input type="text" class="form-control" id="scrinGroupNm" formControlName="scrinNm" />

      <label for="scrinSeCode">화면 구분<span class="req">*</span></label>
      <select id="scrinSeCode" class="form-control" formControlName="scrinSeCode">
        <option value="{{x.cmmnCode}}" *ngFor="let x of scrinSeCodes">{{x.cmmnCodeNm}}</option>
      </select>
    </form>
    
    <div class="mt-1 font-italic"><span class="req">*</span> 필수입력 항목입니다.</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="modal.close('SAVE')">저장</button>
    <button type="button" class="btn btn-outline-secondary" (click)="modal.close('CLOSE')">닫기</button>
  </div>
</ng-template>
