<!-- <div class="row">
  <div class="col"> -->
<div class="top_menu">
  <div class="top_pc">
    <div class="left_top">
      <ul>
        <li><a href="#none">SC-ROBOT</a></li>
        <li><a href="javascript:;" (click)="prjctsListClicked()">프로젝트 목록</a></li>
        <li *ngIf="0 < editingScrinId.length"><a href="javascript:;" (click)="onSaveClick()">저장</a></li>
        <li *ngIf="0 < editingScrinId.length"><a href="javascript:;" (click)="onCloseClick()">닫기</a></li>
        <li *ngIf="0 < editingScrinId.length">|</li>
        <li *ngIf="0 < editingScrinId.length"><a href="#none">미리보기</a></li>
        <li *ngIf="0 < editingScrinId.length"><a href="javascript:;" (click)="onEditSourceClick()">소스편집</a></li>
        <li *ngIf="0 < editingScrinId.length"><a href="javascript:;" (click)="onSourceDwldClick()">HTML다운로드</a></li>
        <!-- <li><a href="#none">열기</a></li> -->
        <!-- <li><a href="#none">저장</a></li> -->
        <!-- <li><a href="#none">다른이름 저장</a></li> -->
        <!-- <li><a href="#none">서비스 시작</a></li> -->
      </ul>
    </div>
    <div class="right_top">
      <ul>
        <li>
          <a href="#none"><img src="images/l_arrow_box.png" alt="이전으로가기" /></a>
        </li>
        <li>
          <a href="#none"><img src="images/r_arrow_box.png" alt="다음으로가기" /></a>
        </li>
        <li><a href="#none">모두제거</a></li>
        <li><a routerLink="index">홈</a></li>
        <li>
          <a href="#" class="sch_button"><i class="fas fa-search"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- </div>
</div> -->
