<app-header></app-header>
<div id="container">
  <h1>회원가입<br /><span class="sm_f">공통약관</span></h1>
  <div class="center">
    <div class="table_content">
      <ul>
        회원약관
        <li>
          <textarea class="txtarea_1" readOnly>
제 1 장 총칙
          제1조(목적)
          ① 이 약관은 (주)수테크시스템즈(이하 “본부”라 한다)가 제공하는 본부 사업 관련 서비스(이하 서비스라 합니다)를 이용함에 있어 이용조건 및 절차와 기타 필요한 사항을 규정하는 것을 목적으로 합니다.
          제2조(약관의 효력과 변경)
          ① 본 약관은 그 내용을 서비스 화면에 게시하고 이용자가 서비스화면에서 동의 의사표시를 함으로써 효력을 발생합니다.
          ② 본부는 사정상 혹은 영업상 중요한 사유가 발생될 경우에는 약관의 규제 등에 관한 법률, 전자거래기본법, 전자서명법, 정보통신망이용촉진 등에 관한 법률, 방문판매 등에 관한 법률, 소비자보호법 등 관련법을 위배 하지 않은 범위에서 이 약관을 개정할 수 있습니다.
          ③ 본부가 약관을 개정할 경우에는 적용일자 및 개정 사유를 명시하여 현행 약관과 함께 서비스 초기화면에 공지하며, 제1항과 같은 방법으로 효력을 발생시킵니다. 단, 구 약관에 동의한 이용자가 약관 개정 적용일 이후에도 계속 본부의 서비스를 이용하면 개정 약관에 대해 동의한 것으로 간주합니다.
          ④ 회원은 개정된 약관에 동의하지 않을 경우 서비스 이용을 중단하고 회원 탈퇴를 요청할 수 있습니다.
          제3조(약관 외 준칙)
          이 약관에 명시되지 않은 사항은 관계 법령에 규정되어 있을 경우 그 규정에 따르며, 그렇지 않은 경우에는 정부가 제정한 전자거래소비자보호지침 및 관계법령 또는 일반적인 관례에 따릅니다.
          제4조(용어의 정의)
          본 약관에서 사용하는 용어의 정의는 다음과 같습니다.
          ① 서비스 : 본부 홈페이지 및 본부와 연계된 홈페이지를 말합니다.
          ② 본부가 제공하는 서비스를 받는 자를 통칭 이용자라고 합니다. 이용자는 비회원, 회원으로 구성됩니다.
          1. 비회원 : 회원에 가입하지 않고 본부에서 제공하는 일부 서비스를 이용하는 자를 말합니다.
          2. 회원 : 가입신청을 할 경우 자동적으로 등록되며, 본부에 개인정보를 제공하여 회원등록을 한 자로서, 본부의 정보를 지속적으로 제공받으며, 본부에서 제공하는 서비스를 계속적으로 이용할 수 있는 자를 말합니다.
          ③ ID : 회원의 식별과 서비스 이용을 위하여 회원이 정하고 본부가 승인하는 문자 또는 숫자의 조합을 말합니다.
          ④ 비밀번호 : 회원의 본인 확인과 비밀보호를 위하여 선정한 문자, 숫자 또는 양자의 조합을 말합니다.
          ⑤ 해지 : 회원이 "서비스" 이용계약 체결 후 이용계약의 효력을 상실시키는 행위를 말합니다.
          ⑥ 이 약관에서 사용하는 용어의 정의는 위에 정하는 것을 제외하고는 관계 법령 및 서비스별 홈페이지 안내에서 정하는 바에 의합니다.
          제5조(회원정보 사용에 대한 동의)
          ① 본부는 개인정보를 중요하게 생각하고 관리하고 있습니다. 개인정보보호에 대해서는 개인정보보호정책을 통해 확인하실 수 있습니다.
          ② 개인정보의 수집목적 및 이용목적 : 본부가 당 사이트 서비스 가입시 기재를 요구하는 회원의 개인정보는 본 이용계약의 이행과 본 이용계약상의 서비스 제공을 위한 목적으로 수집, 이용합니다.
          ③ 목적 외 사용 및 제3자에 대한 제공 및 공유 : 회원이 본부 및 본부와 제휴한 서비스들을 편리하게 이용할 수 있도록 하기 위해 회원 정보는 본부와 제휴한 업체에 제공될 수 있습니다. 단, 본부는 회원 정보 제공 이전에 제휴 업체, 제공 목적, 제공할 회원 정보의 내용 등을 사전에 공지하고 회원의 동의를 얻어야 합니다.
          ④ 개인정보의 열람 및 정정 : 회원은 회원정보 수정을 통해 언제든지 개인 정보에 대한 열람 및 수정을 할 수 있습니다. 이는 전적으로 귀하의 ID와 비밀번호에 의해 관리되고 있습니다. 따라서 타인에게 귀하의 ID와 비밀번호를 알려주어서는 아니 되며, 작업 종료 시에는 반드시 로그아웃 하고, 웹 브라우저의 창을 닫아야 합니다.(이는 타인과 컴퓨터를 공유하는 인터넷 카페나 도서관 같은 공공장소에서 컴퓨터를 사용하는 경우에 귀하의 정보보호를 위하여 필요한 사항입니다)
          ⑤ 개인정보의 수집에 대한 동의 : 회원이 이용신청서에 회원정보를 기재하고, 본부에 본 약관에 따라 이용신청을 하는 것은 본부가 본 약관에 따라 이용신청서에 기재된 회원정보를 수집, 이용 및 제공하는 것에 동의하는 것으로 간주됩니다.
          ⑥ 개인정보의 보유기간 및 이용기간 : 회원으로 부터 개인정보를 수집하는 경우, 그 보유기간 및 이용기간은 회원이 직접 회원 가입을 신청한 시점부터 해지하겠다는 의사 표시를 하여 해지가 처리된 시점까지로 합니다. 회원이 본부에 회원탈퇴 요청시 지체 없이 개인정보를 파기합니다. 다만, 수집목적 또는 제공받은 목적이 달성된 경우에도 상법 등 법령의 규정에 의하여 보존할 필요성이 있는 경우에는 귀하의 개인정보를 보유할 수 있습니다.
          제 2 장 서비스 이용
          제6조(이용 계약의 성립) ① 계약은 이용자의 이용 신청에 대한 본부의 이용 승낙과 이용자의 약관 내용에 대한 동의로 성립됩니다.
          ② 회원에 가입하여 서비스를 이용하고자 하는 희망자는 본부에서 요청하는 개인 신상정보를 제공해야 합니다. 이용자의 이용신청에 대하여 본부가 이를 승낙한 경우, 본부는 회원 ID와 기타 본부가 필요하다고 인정하는 내용을 이용자에게 통지합니다.
          ③ 이용자의 이용신청에 대하여 본부가 이를 승낙한 경우, 본부는 회원 ID와 기타 본부가 필요하다고 인정하는 내용을 이용자에게 통지합니다.
          ④ 본부는 다음 각 호에 해당하는 이용계약 신청에 대하여는 이를 승낙하지 아니 합니다.
          1. 다른 사람의 명의를 사용하여 신청하였을 때
          2. 본인의 실명으로 신청하지 않았을 때
          3. 이용 계약 신청서의 내용을 허위로 기재하였을 때
          4. 사회의 안녕과 질서 혹은 미풍양속을 저해할 목적으로 신청하였을 때
          제7조(서비스 이용 및 제한)
          ① 서비스 이용은 본부의 업무상 또는 기술상 특별한 지장이 없는 한 연중무휴, 1일 24시간을 원칙으로 합니다.
          ② 1항의 서비스 이용시간은 시스템 정기점검 등 본부가 필요한 경우, 회원에게 사전 통지한 후, 제한할 수 있습니다.
          제8조(이용자번호 등)
          ① 이용자번호 및 비밀번호에 대한 모든 관리책임은 이용자에게 있습니다.
          ② 명백한 사유가 있는 경우를 제외하고는 이용자가 이용자번호를 공유, 양도 또는 변경할 수 없습니다.
          ③ 이용자에게 부여된 이용자번호에 의하여 발생되는 서비스 이용상의 과실 또는 제3자에 의한 부정사용 등에 대한 모든 책임은 이용자에게 있습니다.
          ④ 이용자는 회원가입 시 작성한 회원 정보는 언제든지 수정이 가능하지만, 이름과 아이디, 주민등록번호, 사업자등록번호 등 고유의 정보는 변경이 불가능합니다.
          제9조(서비스 이용의 제한 및 이용계약의 해지)
          ① 동의철회(회원탈퇴) : 이용자가 서비스 이용계약을 해지하고자 하는 때에는 온라인으로 본부에 해지신청을 하여야 합니다.
          ② 본부는 이용자가 다음 각 호에 해당하는 경우 사전 통지 없이 이용계약을 해지하거나 1개월 이내의 기간을 정하여 서비스 제공을 중지할 수 있습니다.
          1. 타인의 이용자번호를 사용한 경우
          2. 서비스의 운영을 고의로 방해한 경우
          3. 공공질서 및 미풍양속에 저해되는 내용을 고의로 유포시킨 경우
          4. 타인의 명예를 손상시키거나 불이익을 주는 행위를 한 경우
          5. 기타 서비스의 이용자로서 부적당하다고 판단한 경우
          제10조(회원의 게시물)
          ① 게시물이라 함은 회원이 서비스를 이용하면서 게시한 글, 사진, 각종 파일과 링크 등을 말합니다.
          ② 회원이 서비스에 등록하는 게시물 및 타인 게시물의 활용 등으로 인하여 본인 또는 타인에게 손해나 기타 문제가 발생하는 경우 회원은 이에 대한 책임을 지게 되며, 본부는 특별한 사정이 없는 한 이에 대하여 책임을 지지 않습니다.
          ③ 본부는 회원이 게시하거나 등록하는 "서비스" 내의 내용물이 다음 각 호에 해당 한다고 판단되는 경우에 사전통지 없이 삭제할 수 있습니다. 단, 본부는 이러한 정보의 삭제 등을 할 의무를 지지 않습니다.
          1. 다른 회원 또는 제3자를 비방하거나 명예를 손상시키는 내용인 경우
          2. 공공질서 및 미풍양속에 위반되는 내용인 경우
          3. 범죄적 행위에 결부된다고 인정되는 내용일 경우
          4. 본부의 저작권, 제3자의 저작권 등 기타 권리를 침해하는 내용인 경우
          5. 본부에서 규정한 게시기간을 초과한 경우
          6. 회원이 자신의 홈페이지와 게시판에 음란물을 게재한 후 음란사이트를 링크하는 경우
          7. 게시물의 내용에 개인정보가 표기된 경우
          8. 기타 본 약관 및 관련 법령에 위반된다고 판단되는 경우
          제11조(서비스 제공의 중지 및 제한)
          ① 본부는 다음 각 호에 해당하는 경우 서비스 제공을 중지할 수 있습니다.
          1. 서비스용 설비의 보수 또는 공사로 인한 부득이한 경우
          2. 전기통신사업법에 규정된 기간통신사업자가 전기통신 서비스를 중지했을 때
          ② 본부는 국가비상사태, 서비스 설비의 장애 또는 서비스 이용의 폭주 등으로 서비스 이용에 지장이 있는 때에는 서비스 제공을 중지하거나 제한 할 수 있습니다.
          제12조(본부의 의무)
          ① 본부는 서비스를 위한 설비를 지속적이고 안정적인 서비스 제공에 적합하도록 유지하여야 하며 서비스용 설비에 장애가 발생 하거나 또는 그 설비가 못쓰게 된 경우 그 설비를 수리하거나 복구합니다.
          ② 본부는 서비스의 제공과 관련해서 알고 있는 이용자의 신상정보를 본인의 승낙 없이 제3자에게 누설, 배포하지 않는 것으로 합니다. 단, 이용자가 서비스 이용상 부주의로 신정정보를 누설한 경우 본부는 책임을 지지 않습니다.
          ③ 제2항에 불구하고 관계법령의 규정에 의하여 국가기관의 요구가 있는 경우나, 수사상의 목적으로 법관이 발부한 영장의 제시가 있는 경우에는 그러하지 않습니다.
          ④ 본부는 서비스 내용의 변경 또는 추가사항이 있는 경우 그 사항을 온라인을 통해 서비스 화면에 공지합니다.
          제13조(이용자의 의무)
          ① 이용자는 서비스를 이용할 때 다음 각 호의 행위를 하지 않아야 합니다.
          1. 다른 이용자의 이용자번호를 부정하게 사용하는 행위
          2. 서비스를 이용하여 얻은 정보를 본부의 사전 승낙 없이 이용자의 이용이외의 목적으로 복제하거나 이를 출판, 방송 등에 사용하거나 제3자에게 제공하는 행위
          3. 다른 이용자 또는 제3자를 비방하거나 중상모략으로 명예를 손상하는 행위
          4. 공공질서 및 미풍양속에 위배되는 내용의 정보, 문장, 도형 등을 타인 에게 유포하는 행위
          5. 반국가적, 반사회적, 범죄적 행위와 결부된다고 판단되는 행위
          6. 다른 이용자 또는 제3자의 저작권 등 기타 권리를 침해하는 행위
          7. 기타 관계 법령에 위배되는 행위
          ② 이용자는 이 약관에서 규정하는 사항과 서비스 이용안내 또는 주의사항을 준수하여야 합니다.
          ③ 이용자가 설치하는 단말기 등은 전기통신설비의 기술기준에 관한 규칙이 정하는 기준에 적합하여야 하며, 서비스에 장애를 주지 않아야 합니다.
          제 3 장 손해배상 등
          제14조(손해배상)
          본부는 회원의 부주의로 발생한 어떠한 손해에 관하여도 책임을 지지 않습니다.
          제15조(면책) ① 본부는 회원이 "서비스"를 이용하여 기대하는 이익을 얻지 못하였거나 "서비스" 에 등재된 자료 이용으로 인해 발생하는 손해에 대해서는 책임을 지지 않습니다.
          ② 본부는 회원의 귀책사유로 인한 "서비스" 이용의 장애에 대하여 책임을 지지 않습니다.
          ③ 본부는 천재지변, 전쟁, 기간통신사업자의 서비스 중지 등의 불가항력으로 인해 "서비스" 를 제공할 수 없는 경우에는 "서비스" 제공에 대한 책임을 지지 않습니다.
          ④ 본부는 “서비스”용 설비의 보수, 교체, 정기점검, 공사 등 부득이한 사유로 발생한 손해에 대한 책임 책임을 지지 않습니다.
          ⑤ 본부는 회원간의 전송, 제공한 자료의 신뢰도, 정확성 등 내용에 관하여 책임을 지지 않습니다.
          ⑥ 본부는 회원의 게시물을 등록 전에 사전심사 하거나 상시적으로 게시물의 내용을 확인 또는 검토하여야 할 의무가 없으며, 그 결과에 대한 책임을 지지 아니합니다.
          제 4 장 지적재산권
          제16(지적재산권)
          ① "서비스"에 회원이 게재한 자료의 권리와 책임은 회원에게 있으며 본부는 회원의 동의 없이 이를 영리적으로 사용할 수 없습니다. 다만, 비영리적인 목적의 경우에는 그러하지 아니하며 또한 "서비스" 내에 게재할 수 있습니다.
          ② 본부가 지적재산권을 가지고 있는 자료, "서비스", 소프트웨어, 상표 등을 본부의 서면 동의 없이 전부 또는 일부를 수정, 대여, 대출, 배포, 제작, 양도, 재라이선스, 담보권 설정, 상업적 이용 행위 등을 할 수 없습니다.
          ③ 제10조(회원의 게시물)에 대한 권리와 책임은 게시자에게 있으며 본부는 게시자의 동의 없이는 이를 "서비스" 내 게재 이외에 영리적 목적으로 사용할 수 없습니다. 단, 비영리적인 경우에는 그러하지 아니하며 또한 본부는 "서비스" 내의 게재권을 갖습니다.
          ④ 회원은 "서비스" 를 이용하여 얻은 정보를 가공, 판매하는 행위 등 "서비스" 에 게재된 자료를 상업적으로 사용할 수 없습니다.
          제 5 장 관할법원
          제17조(관할법원)
          ① 본부와 회원은 "서비스" 와 관련하여 발생한 분쟁을 원만하게 해결하기 위하여 필요한 모든 노력을 하여야 합니다.
          ② 제1항의 규정에도 불구하고 "서비스" 와 관련되어 분쟁이 발생할 경우 대한민국법을 적용하며, 본 분쟁으로 인한 소는 대한민국의 법원에 제기합니다.
          ③ 본부와 회원 간 발생한 분쟁에 관한 소송은 민사소송법 상의 관할법원에 제소합니다.
          부 칙
          시행일) 이 약관은 2017년 1월 1일부터 시행합니다.</textarea
          >
        </li>
        <li><input type="checkbox" name="check" /> 위 약관에 동의합니다.</li>
      </ul>
      <ul>
        개인정보 수집 및 이용 동의
        <li><textarea class="txtarea_1" readOnly>(주)수테크시스템즈는 당 사이트 서비스 가입시 기재를 요구하는 회원의 개인정보는 본 이용계약의 이행과 본 이용계약상의 서비스제공을 위한 목적으로 개인 정보를 수집·이용합니다.</textarea></li>
        <li><input type="checkbox" name="check" /> 위 약관에 동의합니다.</li>
      </ul>
      <ul>
        마케팅 수집 및 이용 동의
        <li><textarea class="txtarea_1" readOnly>(주)수테크시스템즈는 당 사이트 서비스 가입시 서비스제공을 위한 목적으로 자격증 정보를 이용합니다.</textarea></li>
        <li><input type="checkbox" name="check" /> 위 약관에 동의합니다.</li>
      </ul>
      <ul>
        <li><input type="checkbox" name="check" /> 전체 동의</li>
      </ul>
    </div>
    <div class="btn">
      <a href="javascript:;" (click)="selfCrtfc()">본인인증</a>&nbsp;&nbsp;
      <a routerLink="../../index">돌아가기</a>
    </div>
  </div>
</div>

<form name="form1" method="get" action="sub/self-crtfc1"></form>

<form name="form4">
  <input type="hidden" name="rslt_cd" />
  <input type="hidden" name="rslt_msg" />
  <input type="hidden" name="mdl_tkn" />
</form>

<app-footer></app-footer>
