<app-header></app-header>
<div id="container">
  <h1>회원가입<br /><span class="sm_f">공통약관</span></h1>
  <div class="center">
    <div class="table_content">
      <ul>
        회원약관
        <li><textarea class="txtarea_1" readOnly>1조1항...</textarea></li>
        <li><input type="checkbox" name="check" /> 위 약관에 동의합니다.</li>
      </ul>
      <ul>
        개인정보 수집 및 이용 동의
        <li><textarea class="txtarea_1" readOnly>1조1항...</textarea></li>
        <li><input type="checkbox" name="check" /> 위 약관에 동의합니다.</li>
      </ul>
      <ul>
        마케팅 수집 및 이용 동의
        <li><textarea class="txtarea_1" readOnly>1조1항...</textarea></li>
        <li><input type="checkbox" name="check" /> 위 약관에 동의합니다.</li>
      </ul>
      <ul>
        <li><input type="checkbox" name="check" /> 전체 동의</li>
      </ul>
    </div>
    <div class="btn">
      <a href="javascript:;" (click)="selfCrtfc()">본인인증</a>&nbsp;&nbsp;
      <a routerLink="../../index">돌아가기</a>
    </div>
  </div>
</div>

<form name="form1" method="get" action="sub/self-crtfc1"></form>

<form name="form4">
  <input type="hidden" name="rslt_cd" />
  <input type="hidden" name="rslt_msg" />
</form>

<app-footer></app-footer>
