<app-header></app-header>
<div id="banner">
  <ul>
    <li>
      <!--                <img src="./assets/images/banner01_22.png" alt="배너" class="ban">-->
      <div class="banner_info">
        <img src="./assets/images/banner01_222.png" alt="배너안에이미지" class="pu" />
        <p>고객지원</p>
      </div>
    </li>
  </ul>
</div>
<section id="sec1">
  <div class="sec1_inner">
    <div>
      <p>Home > 고객지원 > <span class="bold_f">공지사항</span></p>
      <div class="center">
        <div class="notice">
          <ul class="left_txt">
            <li class="sec1_txt1"><img src="./assets/images/brownbar.png" alt="갈색바" />&nbsp;공지사항</li>
            <!--                            <div class="tab_line"></div>-->
          </ul>
        </div>
        <!--
              <div class="table_content1">
                  <table>
                      <form method="post">
                          <tr>
                              <th>검색어</th>
                              <td><select>
                                      <option></option>
                                  </select>&nbsp;<input type="text" /></td>
                          </tr>
                          <tr>
                              <th>날짜</th>
                              <td class="search_hover"><input type="text" />&nbsp;&nbsp;<a href="#none">조회&nbsp;<img src="./assets/images/ico_search.png" alt="돋보기"></a></td>
                          </tr>
                      </form>
                  </table>
              </div>
-->
        <div class="table_content1">
          <form method="post" [formGroup]="searchForm">
            <table>
              <tr>
                <th>검색어&nbsp;&nbsp;&nbsp;</th>
                <td>
                  <select name="searchCondition" formControlName="searchCondition">
                    <option value="SJ" selected>제목</option>
                    <option value="CN">내용</option>
                    <option>작성일자</option></select
                  >&nbsp;<input type="text" name="searchValue" formControlName="searchValue" />
                </td>
              </tr>
              <tr>
                <th><label for="start">날짜&nbsp;&nbsp;</label></th>
                <td class="search_hover">
                  <input type="date" id="start" name="trip-start" value="2021-08-13" min="2021-08-01" max="2050-08-31" /> ~ <input type="date" id="start" name="trip-start" value="2021-08-13" min="2021-08-01" max="2050-08-31" />&nbsp;&nbsp;
                  <a href="javascript:;" (click)="onSearchClick()">조회&nbsp;</a>
                </td>
              </tr>
            </table>
          </form>
        </div>

        <div class="dot_list">
          <h3>
            <img src="./assets/images/dot.png" alt="목록아이콘" />
            &nbsp;
            <ng-container *ngIf="'NOTICE' === bbsSeCd">공지사항</ng-container>
            목록
          </h3>
        </div>
        <div class="top_tit">
          <p>(총 {{ cmmnPagerRef.getTotcnt() }}건)</p>
        </div>

        <div class="table_content">
          <form method="post">
            <table>
              <tr>
                <th class="th1">순번</th>
                <th class="th2">제목</th>
                <th class="th3">작성일자</th>
                <th class="th4">작성자</th>
                <th class="th5">첨부파일</th>
                <th class="th6">조회수</th>
              </tr>
              <tr *ngFor="let x of bbses; index as i">
                <td>{{ itemNo(i) }}</td>
                <td>
                  <a href="javascript:;" (click)="onDetailClick(x.bbsId)">{{ x.bbsSjNm }}</a>
                </td>
                <td>{{ x.registDt | date: "yyyy-MM-dd" }}</td>
                <td>{{ x.registerNm }}</td>
                <td>
                  <a href="javascript:;" *ngIf="null !== x.atchmnflGroupId"><img src="./assets/images/disk.png" alt="디스크이미지" /></a>
                </td>
                <td>{{ x.inqireCo }}</td>
              </tr>

              <tr *ngIf="0 === bbses.length">
                <td colspan="6" class="text-center">데이터가 없습니다.</td>
              </tr>
            </table>
          </form>
        </div>

        <app-cmmn-pager #cmmnPagerRef (initedEvent)="cmmnPagerInited($event)"></app-cmmn-pager>

        <!--
              <div class="btn">
                  <a href="business_br.html">문의하기 →</a>
              </div>
-->
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
