<div id="wrap">
  <app-admin-header></app-admin-header>

  <div id="contents" class="clearfix">
    <app-admin-lnb (initedEvent)="adminLnbInited($event)"></app-admin-lnb>

    <div class="content clearfix">
      <div class="home">&nbsp;Home > SC-ROBOT관리 > 게시판관리 ><span class="bold_f"> FAQ 관리</span></div>
      <h3 class="sub-tit"><img src="./assets/images/brownbar.png" alt="갈색바" />&nbsp;FAQ</h3>
      <div class="sub-content">
        <div class="table_content">
          <form method="post" [formGroup]="form">
            <table>
              <tr>
                <th><img src="./assets/images/dot.png" alt="목록아이콘" />&nbsp;제목</th>
                <td colspan="3"><input type="text" formControlName="bbsSjNm" /></td>
              </tr>
              <tr class="disabled_box">
                <th><img src="./assets/images/dot.png" alt="목록아이콘" />&nbsp;작성자</th>
                <td colspan="1"><input type="text" class="readonly diabled" formControlName="registerNm" readonly /></td>
                <th><img src="./assets/images/dot.png" alt="목록아이콘" />&nbsp;작성일자</th>
                <td colspan="1"><input type="text" class="readonly disabled" [value]="this.form.controls.registDt.value | date: 'yyyy-MM-dd'" readonly /></td>
              </tr>
              <tr>
                <th><img src="./assets/images/dot.png" alt="목록아이콘" />&nbsp;작성 내용</th>
                <td valign="top" class="tool_img" colspan="3">
                  <!-- <div class="txt1">
                        <span class="bold_font_point">[문의]<br />카드결제가 안되요, DEVELOPER 결제 하려고 하는데 결제가 안됩니다.<br /><br /></span>
                      </div> -->
                  <textarea class="txtarea_1" formControlName="bbsCn"></textarea>
                </td>
                <!--
                                    <td valign="top" class="tool_img" colspan="3">
                                        <textarea class="txtarea_1"></textarea>
                                    </td>
-->
              </tr>
              <tr class="file_tr">
                <th><img src="./assets/images/dot.png" alt="목록아이콘" />&nbsp;첨부파일 목록</th>
                <td class="file_box" colspan="2">
                  <div class="file_input">
                    <input type="file" #fileEl />
                  </div>
                </td>
              </tr>
            </table>
          </form>
          <div class="btn-box mgt20 clearfix">
            <a href="javascript:;" class="btn purple float-right" (click)="onListClick()">목록</a>
            <a href="javascript:;" class="btn purple float-right" (click)="onUpdateClick(fileEl)">확인</a>
          </div>
        </div>
      </div>
    </div>

    <app-admin-footer></app-admin-footer>
  </div>
</div>
