<div class="notice">
  <nav class="nav2">
    <ul class="gnb">
      <div class="add_btn2">
        <a href="#none"><img src="./assets/images/editor/garbage.png" alt="휴지통" /> 삭제</a>
      </div>
      <div class="add_btn_box_">
        <div class="add_btn3"><a href="#none">모두선택</a></div>
        <div class="add_btn4"><a href="#none">선택해제</a></div>
        <div class="add_btn5">
          <a href="#none"><img src="./assets/images/editor/fr.png" alt="앞으로이미지" /> 앞으로</a>
        </div>
        <div class="add_btn6">
          <a href="#none"><img src="./assets/images/editor/bk.png" alt="뒤로이미지" /> 뒤로</a>
        </div>
      </div>
      <li class="main_list">
        <a href="#"><i class="fas fa-angle-down"></i><img src="./assets/images/editor/tree.png" alt="검정화살표" /><img src="./assets/images/editor/open_folder.png" alt="파란색폴더" /> 속성</a>
        <ul class="sub">
          <li class="note__ a">
            <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="./assets/images/editor/page.png" alt="페이지" /> 넓이 : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" /></a>
          </li>
          <li class="note__ a">
            <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="./assets/images/editor/page.png" alt="페이지" /> 높이 : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" /></a>
          </li>
          <li class="note__ a">
            <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="./assets/images/editor/page.png" alt="페이지" /> 글꼴 : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" /></a>
          </li>
          <li class="note__ a">
            <a href="#"
              >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="./assets/images/editor/page.png" alt="페이지" /> 색 : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" />
              <div class="colorbox"></div>
            </a>
          </li>
          <li class="note__ a">
            <a href="#"
              >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="./assets/images/editor/page.png" alt="페이지" /> 배경 색 : &nbsp;&nbsp;<input type="text" />
              <div class="colorbox2"></div>
            </a>
          </li>
          <li class="note__ a">
            <a href="#"
              >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="./assets/images/editor/page.png" alt="페이지" /> 글꼴 크기 :
              <select>
                <option value="맑은고딕(본문)">16px</option>
              </select></a
            >
          </li>
          <li class="note__ a">
            <a href="#"
              >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="./assets/images/editor/page.png" alt="페이지" /> 버튼 구분 :
              <select>
                <option value="맑은고딕(본문)">취소</option>
              </select></a
            >
          </li>
          <li class="note__ a">
            <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="./assets/images/editor/page.png" alt="페이지" /> 텍스트 : &nbsp;&nbsp;&nbsp;<input type="text" /></a>
          </li>
        </ul>
      </li>
      <div class="add_btn3">
        <a href="#none"><img src="./assets/images/editor/check.png" alt="체크" /> 적용</a>
      </div>
      <div class="add_btn4">
        <a href="#none"><img src="./assets/images/editor/x_icon.png" alt="엑스" /> 취소</a>
      </div>
    </ul>
  </nav>
</div>
