<div class="notice">
  <nav class="nav2">
    <ul class="gnb" style="padding-left: 0">
      <div class="add_btn2">
        <a href="javascript:;" (click)="deleteEl()"><img src="./assets/images/editor/garbage.png" alt="휴지통" /> 삭제</a>
      </div>
      <div class="add_btn_box_">
        <!-- <div class="add_btn3"><a href="javascript:;">모두선택</a></div> -->
        <!-- <div class="add_btn4"><a href="javascript:;">선택해제</a></div> -->
        <div class="add_btn5">
          <a href="javascript:;" (click)="forward()"><img src="./assets/images/editor/fr.png" alt="앞으로이미지" /> 앞으로</a>
        </div>
        <div class="add_btn6">
          <a href="javascript:;" (click)="backward()"><img src="./assets/images/editor/bk.png" alt="뒤로이미지" /> 뒤로</a>
        </div>
      </div>

      <!--테이블일때만 표시-->
      <div class="add_btn_box_" *ngIf="'table' === $selectedEl?.attr('data-tag-name')">
        <div class="add_btn3"><a href="javascript:;" (click)="addTableRow()">행추가</a></div>
        <div class="add_btn4"><a href="javascript:;" (click)="deleteTableRow()">행삭제</a></div>
        <div class="add_btn5">
          <a href="javascript:;" (click)="addTableCol()">열추가</a>
        </div>
        <div class="add_btn6">
          <a href="javascript:;" (click)="deleteTableCol()">열삭제</a>
        </div>
      </div>

      <li class="main_list">
        <table class="table property">
          <thead>
            <tr>
              <th>항목</th>
              <th>값</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </li>
      <div class="add_btn3">
        <a href="javascript:;" (click)="applyProperty()"><img src="./assets/images/editor/check.png" alt="체크" /> 적용</a>
      </div>
      <div class="add_btn4">
        <a href="javascript:;" (click)="cancelProperty()"><img src="./assets/images/editor/x_icon.png" alt="엑스" /> 취소</a>
      </div>
    </ul>
  </nav>
</div>

<app-word-dicary-select-dialog #wordDicarySelectRef (initedEvent)="wordDicarySelectInitedEvent($event)"></app-word-dicary-select-dialog>
<app-table-item-edit-dialog #tableItemEditDialogRef (initedEvent)="tableItemEditInitedEvent($event)"></app-table-item-edit-dialog>
