.pop_bg {
    z-index: 999999999;
    position: fixed;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    left: 0;
    top:0;
    display:none;
    
}

.popup {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateY(-15%);
    transform: translateX(-50%);
}

.popup h2 {
    text-align: center;
    padding: 20px;
}

.popup p {
    text-align: center;
    padding: 10px;
}

.popup p:nth-of-type(2) {
    font-weight: bold;
}

.close {
    border: none;
    background: none;
    font-size: 17px;
    font-weight: bold;
    margin-left: 400px;
    cursor: pointer;
}

/*로그인*/
#div_login_title {
    width: 450px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}

/*로그인-sns*/
#div_login {
    width: 430px;
/*    height: 540px;*/
    height: 580px;
    margin: 0 auto;
    background: #faf4eb;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 10px 0;

}

.sns_login ul li {
    width: 285px;
    height: 40px;
    line-height: 37px;
    border-radius: 6px;
    padding-left: 55px;
    text-align: left;
    font-size: 14px;
    margin: 0 auto;
    cursor: pointer;
}

.sns_login ul li:nth-of-type(1) {
    background: #fff;
    border: 1px solid #9999;
    margin-top: 30px;
    margin-bottom: 10px;
}

.sns_login ul li:nth-of-type(2) {
    background: #ffde00;
    margin-bottom: 10px;
}

.sns_login ul li:nth-of-type(3) {
    background: #1ec700;
    margin-bottom: 20px;
}

.sns_login ul li:nth-of-type(1) a,
.sns_login ul li:nth-of-type(2) a {
    color: #000;
}

.sns_login ul li:nth-of-type(3) a {
    color: #fff;
}

.sns_login ul li a img {
    width: 20px;
}

/*또는 _ 이메일 비밀번호 회원가입*/

.line_l {
    display: block;
    width: 118px;
    border: 1px solid #9999;
    margin: 10px 0 20px 45px;
    float: left;
}

.line_or {
    width: 100px;
    display: block;
    float: left;
    text-align: center;
    font-size: 13px;
    color: #333;
    transform: translateY(10%);
}

.line_r {
    display: block;
    width: 118px;
    border: 1px solid #9999;
    margin: 10px 0 20px 0;
    float: left;
}

#div_login_table {
    width: 450px;
    margin: 0 auto;
    transform: translateX(12.5%);
}

#tbl_login_table tr {
    height: 40px;
    line-height: 35px;
}

#tbl_login_table tr td {
    width: 110px;
    font-weight: 350;
}

#div_login_table tr:nth-of-type(1) input,
#div_login_table tr:nth-of-type(2) input {
    width: 200px;
}




#div_login_table tr:nth-of-type(3) input {
/*
    padding: 10px 20px;
    width:100%;
    border-radius: 8px;
    border: 1px solid #8f4920;
    background: #8f4920;
    color: #fff;
    font-size:17px;
    margin: 25px 0;
    cursor: pointer;
    float: right;
*/
}
.btn_log{
        width: 318px;
    padding: 12px 20px;
    border-radius: 10px;
    border: 1px solid #8f4920;
    background: #8f4920;
    color: #fff;
    font-size: 17px;
    margin: 20px 0;
/*    margin-left: -126px;*/
    cursor: pointer;
}

.btn_log:hover {
    color: #000;
    font-weight: bold;
    background: #fff;
    border: 1px solid #8f4920;
}

#div_login_table tr:nth-of-type(3) input:hover {
    color: #000;
    font-weight: bold;
    background: #fff;
    border: 1px solid #8f4920;
}
#div_login_button{
    width:100%;
    margin: 0 auto;
    text-align: center;
/*    margin-top: -10px;*/
}
#div_login_button a{
    text-align: center;
    color: #3a5870;
    font-size: 14px;
}
#div_login_button a:hover {
    font-size: 14px;
    color: #339999;
    text-decoration: none;
}

#tbl_login_table tr:nth-of-type(1) td input, #tbl_login_table tr:nth-of-type(2) td input{
    height: 3vh;
    font-size: 0.8vw;

}



.sns_login img {
    border: 0;
    vertical-align: middle;
}
