@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select {
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    overflow-x: hidden;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

img,
a,
button,
textarea,
input,
select {
    outline: none !important;
}


.clear:after {
    content: "";
    display: block;
    clear: both;
}

header {
    width: 100%;
    margin: 0 auto;
    z-index: 50;
    background: #fff;
    position: relative;
}

header .center {
    width: 100%;
    margin: 0 auto;
}

.top_header {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    height: 60px;
    background: #fff;

}

.mainlogo {
    text-align: center;
    float: left;
    text-align: left;
}

.mainlogo a {
    display: block;
}

.mainlogo a img {
    width: 140px;
    transform: translateY(26%);
    top: -50%;
}

.home {
    padding: 9px 0;
    font-size: 13px;
}

.home2 {
    padding: 19px 0;
    font-size: 13px;
}

.bold_f {
    font-weight: bold;
}

.sns {
    margin: 0 auto;
    float: right;
    text-align: right;
}

.sns li {
    width: 36px;
    display: inline-block;

}

.sns li a {
    display: inline-block;
}

.sns li a img {
    width: 100%;
    transform: translateY(40%);
    top: -50%;
}

.small_font {
    /*    font-size: 12px;*/
    font-size: 17px;
    font-weight: 800;
}

.small_font2 {
    font-size: 18px;
    font-weight: 800;
}

.topbtn {
    float: right;
    transform: translateY(50%);
}

.topbtn ul li {
    display: inline-block;
    font-size: 17px;
    font-weight: 400;
}

.bold_font {
    font-size: 19px;
    font-weight: 700;
}

.top_header_r a,
.add_btn2 a {
    border-radius: 20px;
    background: #8f4920;
    color: #fff;
    font-size: 15px;
    padding: 3px 12px;
}

.header_line {
    width: 100%;
    border: 2px solid #8f4920;
    position: absolute;
    margin-top: 60px;
}

.nav {
    width: 80%;
    margin: 0 auto;

}

.gnb {
    /*    max-width: 100%;*/
    max-width: 80%;
    margin: 0 auto;

}


.gnb > li {
    width: 25%;
    float: left;
    text-align: center;
    position: relative;
    z-index: -1;

}

.gnb > li > a {
    display: block;
    font-weight: 600;
    color: #333;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding: 11px 0;
}

.gnb > ul > li:hover > a:after {
    width: 100%;
}

.gnb > li > a:hover {
    color: #8f4920;
}


.sub li a:hover {
    color: orange;
    /*    text-decoration-line: underline;*/
}


.sub {
    /*    width: 5.3vw;*/
    width: 49%;
    position: absolute;
    text-align: left;
    display: none;
    z-index: 999999999;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    /*    margin-left: 24.9%;*/
    margin-left: 18%;
    /*    padding-left: 2.5vw;*/
    padding-left: 17%;

}

.sub > li > a {
    display: block;
    padding: 8px 0;
    z-index: 99999;
    background: #fff;
    font-size: 14px;

}

.sub li:nth-of-type(4) a {
    margin-bottom: 20px;
}

.gnb > li > a:after {
    content: "";
    height: 5px;
    background-color: orange;
    position: absolute;
    top: 89%;
    z-index: 4;
    transition: all 0.5s ease-in-out;
}

.gnb > li:hover > a:after {
    /*    width: 10vw;*/
    width: 66%;
    /*    left: 5vw;*/
    /*    left: 3vw;*/
    left: 18%;

}

/*gnb2*/


.gnb2 > li {
    position: relative;
}

.gnb2 > li > a {
/*    display: block;*/

}

.gnb2 > ul > li:hover > a:after {
    width: 100%;
}

.sub2 li a:hover {
    color: orange;
    /*    text-decoration-line: underline;*/
}


.sub2 {
    width: 131px;
    position: absolute;
    text-align: left;
    display: none;
    z-index: 3;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 11.5% 0 0 15%;
    padding-left: 20px;

}

.sub2 > li > a {
    display: block;
    padding: 10px 0;
    z-index: 99999;
    background: #fff;
    font-size: 14px;


}

.sub2 li:nth-of-type(1) a {
    font-weight: 500;
}

.sub2 li:nth-of-type(1) a:hover {
    color: #000;
}


.sootechsys_btn > a:after {
    content: "";
    height: 4px;
    background-color: orange;
    position: absolute;
    top: 160%;
    z-index: 4;
    transition: all 0.5s ease-in-out;
}


.sootechsys_btn:hover > a:after {
    width: 152px;
    left: 15%;
}



/*banner */

#banner {
    background: url(../images/banner01_22.png)no-repeat center center;
    width: 100%;
    height: 220px;
    overflow: hidden;
    z-index: -1;
    position: relative;

}

#banner ul > li {
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    height: 100%;
}

#banner ul {
    position: relative;
    width: 100%;
    height: 100%;
}

#banner ul > li .banner_info {
    position: absolute;
    top: -57px;
    left: 60vw;
    width: 50%;
}



#banner ul li img.ban {
    margin-left: -2%;
}

#banner ul > li .banner_info p {
    font-size: 35px;
    font-weight: 600;
    color: #000;
    text-align: left;
    margin-top: -145px;
    margin-left: -89.5%;
}


#banner ul > li .banner_info::after {
    content: "";
    display: block;
    clear: both;
}

/*sec1*/


#sec1 {
    width: 70%;
    height: 945px;
    margin: 0 auto;
    position: relative;

}

.sec1_inner {
    width: 100%;

}

.sec1_inner > img {
    position: absolute;

}

.sec1_inner > div > h2 {
    color: #333;
    font-size: 40px;
    text-align: center;
    padding-top: 100px;
    letter-spacing: 1px;
}

.sec1_inner > div > p {
    color: #333;
    font-size: 16px;
    text-align: right;
    line-height: 30px;
    padding: 10px 0 70px 0;
    margin: 0 auto;
}

.sec1_inner .center {
    max-width: 1300px;
    margin: 0 auto;
}

.sec1_inner .center .notice {
    font-weight: 600;
    font-size: 24px;
}

.sec1_inner > div > p {
    color: #333;
    text-align: right;
    line-height: 30px;
    padding: 10px 10px 70px 0;
    margin: 0 auto;

}

.sec1_inner .center p img {
    width: 13%;
    height: 45px;
}

.sec1_inner .center ul {
    width: 100%;
    position: relative;
    margin-top: -50px;
}


.sec1_inner .center ul li:nth-of-type(2) {
    background-size: 100%;
    margin: 3%;
    width: 27.3%;
    float: left;
    position: relative;
    display: block;
    text-align: center;
}

.sec1_inner .center ul::after {
    content: "";
    display: block;
    clear: both;
}

/*contents*/

.left_txt {
    width: 100%;
    padding-top: 2%;
}

.sec1_txt1 {
    color: #333;
    font-size: 25px;
    font-weight: bold;
    line-height: 2;
}

.sec1_txt1 img {
    width: 20px;
}

.tab_line {
    width: 100%;
    border: 1px solid #f6f6f6;
    margin-bottom: 14px;
}

.tab_line2 {
    width: 100%;
    border: 1px solid #f6f6f6;
    position: absolute;
    margin-top: 50px;

}



/*table_content1*/


.table_content1 {
    width: 100%;
    /*    height: 95px;*/
    height: 65px;
    background: #fbf6ef;

}

.table_content1 table {
    width: 100%;
    margin: 0 auto;

}

.table_content1 table tr {
    width: 50%;
    float: left;
}

.table_content1 table tr:nth-of-type(1) {
    /*    margin-left: 60px;*/
    margin-left: 2%;
}


.table_content1 table tr:nth-of-type(2) {
    /*    margin-left: -150px;*/
    margin-left: -16%;
}

.table_content1 table th {
    text-align: right;
    font-size: 1rem;
    /*    font-size: 11px;*/
    display: inline-block;
    float: left;
    line-height: 60px;
}

.table_content1 table td {
    /*    width: 52%;*/
    width: 45%;
    border-bottom: 0;
    line-height: 57px;

}

.table_content1 table td select {
    width: 20%;
    border: 1px solid #9999;
    height: 27px;
    font-size: 0.75vw;
    text-indent: 5px;
    margin-left: -10px;

}

.table_content1 table td input {
    width: 35%;
    border: 1px solid #9999;
    height: 25px;
    font-size: 0.75vw;
    text-indent: 5px;
}

.table_content1 table tr:nth-of-type(1) td input {
    width: 46%;
}

.table_content1 table tr:nth-of-type(2) td input {
    margin-left: -14px;
}



.table_content1 label {
    font-size: 1rem;
    padding: 10px;

}



/*
.search_hover a:hover {
    border: 1px solid #fff;
    background-color: gray;
    color: #fff;
}
*/

.table_content1 table td a {
    background-color: #394b61;
    width: 70px;
    height: 24px;
    line-height: 24px;
    color: #fff;
    font-size: 0.75vw;
    text-align: center;
    border: 1px solid #394b61;
    display: inline-block;
}

.table_content1 table td a img {
    width: 17%;
    padding: 0;
}



/*공지사항목록*/
.dot_list h3 img {
    width: 0.9%;
    padding: 0;
}


.dot_list h3 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    padding-top: 25px;
}

/*table_content*/
.table_content {
    max-width: 1300px;
    margin-bottom: 40px;
    margin: 0 auto;
}

.table_content table {
    color: #333;
    width: 100%;
    font-size: 18px;
    border-top: 4px solid #8f4920;
    border-collapse: collapse;
    margin-bottom: 40px;

}


.table_content table tr {
    border-bottom: 1px solid #9999;
}


.table_content table tr td:nth-of-type(2) {
    text-align: left;
    padding-left: 20px;
}

.table_content table th {
    width: 150px;
    background-color: #f8f9fa;
    padding: 16px 0;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: #8f4920;
    border: 1px solid #9999;
}

.table_content table th:nth-of-type(6) {
/*    border-right: 0;*/
}

.table_content table th img {
    width: 5%;
    padding: 0;
}

.table_content .th1 {
    width: 5%;
}

.table_content .th2 {
    width: 45%;
}

.table_content .th3 {
    width: 10%;
}

.table_content .th4 {
    width: 10%;
}

.table_content .th5 {
    width: 10%;
}

.table_content .th6 {
    width: 10%;
}

.table_content .th7 {
    width: 10%;
}

.yellow {
    color: #ffce09;
    font-weight: 600;
}

.red {
    color: red;
    font-weight: 600;
}

.green {
    color: green;
    font-weight: 600;
}

.table_content table td {
    text-align: center;
    font-size: 1.1rem;
    padding: 16px 0;
    border: 1px solid #9999;
    cursor: pointer;
}

.table_content table tr:hover td {
    background: #f8f9fa;
}

.table_content table td:nth-of-type(6) {
/*    border-right: 0;*/
}

.table_content table td img {
    /*    width: 13%;*/
    width: 15px;
    /*    vertical-align: middle;*/
}



.top_tit {
    font-size: 15px;
    text-align: right;
    width: 100%;
    margin-bottom: 8px;
}




.btn2 {
    width: 100%;
    text-align: center;
    font-size: 13px;
}

.btn2 a:hover {
    color: #fff;
    background: #8f4920;
    border: 1px solid #8f4920;
}

.btn2 a {
    width: 34px;
    height: 34px;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    display: inline-block;
    margin-right: 4px;
    line-height: 35px;
    color: #333;
}


.btn2 p {
    text-align: left;
    padding-left: 200px;
}

.file_input label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    width: 3%;
    background: #777;
    color: #fff;
    text-align: center;
}

.file_input label img {
    width: 100%;
    height: 100%;
}

.file_input label input {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}

.file_input input[type=text] {
    vertical-align: middle;
    display: inline-block;
    width: 430px;
    height: 30px;
    line-height: 28px;
    font-size: 11px;
    padding: 0;
    border: 0;
}

/*footer*/


footer {
    width: 100%;
    background: #ddd;
    clear: both;
    height: auto;

}


.footer {
    width: 70%;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1vh;
}


.footer_left {
    text-align: center;
    float: left;
    width: 200px;
}

.footer_left img {
    width: 80px;
    vertical-align: middle;
}

.footer_content {
    width: 900px;
    margin-left: 65px;
    float: left;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 0.1vw;
    line-height: 1.5;

}

.footer_top {
    width: 200px;
    line-height: 100px;
    text-align: center;
}

.footer_top img {
    width: 30%;
    line-height: none;
    vertical-align: middle;

}

.orange {
    font-weight: 550;
    color: darkorange;
    line-height: 2;
}

.bold {
    font-weight: 550;

}

.bold:hover {
    color: darkorange;
}


.sub2 {
    height: 120px;
}

.topbtn .gnb2 .sub2 .sub2_li a,
.topbtn .gnb2 .sub2 .add_btn a {
    display: none;
}
/*팝업*/

.main_dot_ span {
    font-size: 14px;
    font-weight: 600;
}

#div_pop .center {
    margin: 0 auto;
    width: 100%;
}

#div_pop .center ul {
    width: 100%;
    position: relative;

}


#div_pop .center ul li {
/*    width: 23.5%;*/
    width:32%;
/*    height: 195px;*/
    height: 300px;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid #9999;
    margin: 1%;
    cursor: pointer;


}
#div_pop .center ul .leftz{
    margin-left: 0;
}
#div_pop .center ul .rightz{
    margin-right: 0;
}
#div_pop .center ul li:hover {
    border: 2px solid #0a93e2;
}

#div_pop .fir_ul li:nth-of-type(1) {
    border: 2px dashed #9999;
    text-align: center;
}

#div_pop .fir_ul li:nth-of-type(1):hover {
    border: 2px solid #0a93e2;
}

#div_pop .center {
    width: 100%;
    padding-bottom: 5%;

}

#div_pop .center h2 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
}


.fir_ul li:nth-of-type(3) h3 input, .fir_ul li:nth-of-type(4) h3 input, .fir_ul li:nth-of-type(5) h3 input, .fir_ul li:nth-of-type(6) h3 input,.fir_ul li:nth-of-type(7) h3 input, .fir_ul li:nth-of-type(8) h3 input, .fir_ul li:nth-of-type(9) h3 input, .fir_ul li:nth-of-type(10) h3 input,.fir_ul li:nth-of-type(11) h3 input, .fir_ul li:nth-of-type(12) h3 input {
    width: 57%;
    float: left;
    text-align: left;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 600;
    border: 0;
    padding: 2px 0;

}

.fir_ul li:nth-of-type(2) h3 input {
    width: 57%;
    float: left;
    text-align: left;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 500;
    color: gray;
    border: 1px solid #9999;
    padding: 2px 0;
}

#div_pop .center .fir_div {
    color: grey;
    font-size: 12px;
}

#div_pop .center .sec_div {
    color: grey;
    font-size: 12px;
    border-top: 1px solid #333;
    margin-top: 55px;
    padding: 5px 0;
}

#div_pop .center .txt::after {
    clear: both;
    display: block;
    content: "";
}

#div_pop .center .txt p {
    font-size: 9px;
    font-weight: 500;
    text-align: center;
    padding: 4px;
    float: right;
    border: 1px solid #9999;
}

#div_pop .center .txt p:hover {
    border: 1px solid #0a93e2;
    color: #0a93e2;
}

#div_pop .center .txt p:nth-of-type(2) {
    margin-right: 3px;
}

#div_pop .center .btnn {
    width: 92.5%;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    float: left;
    border: 2px solid #0a93e2;
    padding: 5px;

}

#div_pop .center .btnn:hover {
    background: #0a93e2;

}

#div_pop .center .btnn:hover a {
    color: #fff;
}

#div_pop .center .btnn a {
    color: #0a93e2;
    display: block;
}

#div_pop .center ul > li > a > img {
    width: 40%;
    text-align: center;
/*    padding: 20px 0;*/
    padding: 41px 0;
}

.price {
    letter-spacing: 6px;
}

.txt > a {
    width: 100%;
}

#div_pop .center .txt a img {
    width: 10%;
    float: left;
}


.top_header_pop {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #8d8b8b;
    background: #f0f2f4;
    font-weight: bold;

}

.top_header_pop h2 {
    text-align:left;
    font-size: 20px;
    padding-left: 10px;
}

.pop_bg2 {
    z-index: 9999999999999;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    display: none;
    margin: 0 auto;
    overflow-x: scroll;
}


#div_pop {
    width: 96%;
    margin: 0 auto;

}

.popup2 {
    width: 950px;
    height: 600px;
/*    height: 438px;*/
    z-index: 9999999999999;
    position: absolute;
    background: #fff;
    overflow: auto;
    left: 25%;
    top: 15%;
}



.popup2 p {
    text-align: center;
    padding: 10px;
}

.popup2 p:nth-of-type(2) {
    font-weight: bold;
}

.close {
    cursor: pointer;
/*    border: 2px solid black;*/
    border: 0;
    float: right;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
/*    border-radius: 50px;*/
    width: 20px;
    height: 20px;
/*    background: white;*/
    transform: translateY(10px);
    margin-right: 9px;
}

/*팝업-프로젝트생성*/

.top_header_pop3 {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #8d8b8b;
    background: #f0f2f4;
    font-weight: bold;
}

.top_header_pop3 h2 {
    text-align: left;
    font-size: 20px;
    padding-left: 10px;
}


.pop_bg3 {
    z-index: 9999999999999;
    position: fixed;
    width: 100%;
    height: 100%;
/*    background: rgba(0, 0, 0, 0.5);*/
    left: 0;
    top: 0;
    display: none;
        margin: 0 auto;
    overflow-x: scroll;
}

#div_pop3 {
    width: 96%;
    margin: 0 auto;

}

.popup3 {
    width: 950px;
    height: 600px;
    z-index: 9999999999999;
    position: absolute;
    background: #fff;
    overflow: auto;
    left: 25%;
    top: 15%;
}

}



.popup3 p {
    text-align: center;
    padding: 10px;
}

.popup3 p:nth-of-type(2) {
    font-weight: bold;
}




#div_pop3 .center ul li {
/*    width: 23.5%;*/
    width: 33.5%;
/*    height: 195px;*/
    height: 300px;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid #9999;
    margin: 1%;
    cursor: pointer;

}

/*btn3*/
.btn3 {
    text-align: right;
    font-weight: 400;
    margin-top: -5px;
}

.btn3 a:hover {
    border: 1px solid #8f4920;
    background: #fff;
    color: #333;
}

.btn3 a {
    background: #884018;
    margin-top: -157px;
    font-size: 15px;
    width: 62px;
    height: 35px;
    padding: 6px 16px;
    background: #8f4920;
    line-height: 20px;
    color: #fff;
    border: 1px solid #8f4920;
    font-weight: normal;
}


/*table_content7*/

.main_dot_3 h3 {
    font-size: 17px;
    padding: 10px 0;
}

.main_dot_3 h3 img {
    width: 0.9%;
}

.table_content7 {
    margin-bottom: 30px;

}

.table_content7 table {
    color: #333;
    /*    width: 38%;*/
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    border-top: 2px solid #8f4920;
    border-collapse: collapse;
    /*    transform: translateX(9.3%);*/


}


.table_content7 table tr {
    border-bottom: 1px solid #9999;

}

.table_content7 table th {
    width: 20%;
    background-color: #f8f9fa;
    padding: 13px 0 13px 15px;
    text-align: left;
    font-size: 13px;
    font-weight: 600;
    border: 1px solid #9999;
}

.table_content7 table th:nth-of-type(5) {
    border-right: 0;
}

.table_content7 table th img {
    width: 5%;
    padding: 0;
}

.table_content7 table td {
    font-size: 13px;
    border: 1px solid #9999;
}

.table_content7 table td input {
    vertical-align: middle;
}
.table_content7 table tr:nth-of-type(1) td input, .table_content7 table:nth-of-type(2) tr td input {
    width:97%;
}
.table_content7 table:nth-of-type(2) tr td select{
    width:97.6%;
}
.table_content7 table td a img {
    width: 2%;
    padding: 0;
}


.table_content7 table textarea {
    width: 100%;
    height: 300px;
    resize: none;
    /*    padding-top: 10px;*/
    border: 1px solid #9999;

}



.table_content7 table .txtarea_1 {
    width: 100%;
    /*    height: 115px;*/
    resize: none;
    border: none;
        font-size: 13px;
    color: #777;


}

.table_content7 > input:nth-of-type(1) {
    margin-top: 20px;

}

.table_content7 {
        font-size: 13px;
}
/*table_content6*/
.main_dot_ h3 {
    font-size: 18px;
    padding: 10px 0;
}

.main_dot_ h3 img {
    width: 0.9%;
}

.table_content6 {
    margin-bottom: 30px;

}

.table_content6 table {
    color: #333;
    /*    width: 38%;*/
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    border-top: 2px solid #8f4920;
    border-collapse: collapse;


}


.table_content6 table tr {
    border-bottom: 1px solid #9999;

}

.table_content6 table th {
    width: 20%;
    background-color: #f8f9fa;
    padding: 10px 0 10px 15px;
    text-align: left;
    font-size: 0.7vw;
    font-weight: 600;
    border-right: 1px solid #9999;
}

.table_content6 table th:nth-of-type(5) {
    border-right: 0;
}

.table_content6 table th img {
    width: 5%;
    padding: 0;
}

.table_content6 table td {
    font-size: 0.7vw;
}

.table_content6 table td a img {
    width: 2%;
    padding: 0;
}


.table_content6 table textarea {
    width: 100%;
    height: 200px;
    resize: none;
    padding-top: 10px;
    border: 1px solid #9999;
}

.table_content4_5_box {
    width: 100%;
    margin: 0 auto;
}




/*table_content4*/


.btn4 {

    font-size: 0.8vw;
    float: right;
    margin: -40px 5% 0px 0;
}

.btn4 a:hover {
    color: #fff;
    background: gray;
    border: 1px solid gray;
}

.btn4 a {
    padding: 4px 10px;
    border: 1px solid #999;
    background: #fff;
    color: #000;
}

.table_content4 {
    width: 50%;
    float: left;
    margin: 35px 0;


}

.table_content4 table {
    color: #333;
    width: 95%;
    height: 270px;
    float: left;
    font-size: 18px;
    border-top: 2px solid #8f4920;
    border-collapse: collapse;


}


.table_content4 table tr {
    border-bottom: 1px solid #9999;
    cursor: pointer;

}

.table_content4 table th {
    background-color: #f8f9fa;
    text-align: center;
    font-size: 0.7vw;
    font-weight: 600;
    border-right: 1px solid #9999;
}

.table_content4 table th:nth-of-type(4) {
    border-right: 0;
}

.table_content4 table th img {
    width: 5%;
    padding: 0;
}

.table_content4 table td a img {
    width: 2%;
    padding: 0;
}

.table_content4 table td {
    border-right: 1px solid #9999;
    /* height: 70px;*/
    text-align: center;
    font-size: 0.7vw;

}


.table_content4 table td:nth-of-type(4) {
    border-right: 0;

}

.table_content4 table .tr_gray:hover {
    background-color: #f8f9fa;
}


/*table_content5*/

.table_content5 {
    float: left;
    width: 50%;
    margin: 35px 0;
}

.table_content5 table {
    color: #333;
    width: 100%;
    height: 270px;
    float: left;
    font-size: 18px;
    border-top: 2px solid #8f4920;
    border-collapse: collapse;
}


.table_content5 table tr {
    border-bottom: 1px solid #9999;

}

.table_content5 table th {
    width: 30%;
    background-color: #f8f9fa;
    padding: 5px 0 5px 15px;
    text-align: left;
    font-size: 0.7vw;
    font-weight: 600;
    border-right: 1px solid #9999;
}

.table_content5 table th:nth-of-type(5) {
    border-right: 0;
}

.table_content5 table th img {
    width: 5%;
    padding: 0;
}

.table_content5 table tr:nth-of-type(1) td {
    font-size: 0.7vw;
}

.table_content5 table td a img {
    width: 2%;
    padding: 0;
}


.table_content5 table textarea {
    width: 95.5%;
    height: 70px;
    resize: none;
    margin: -5px 5px -10px 5px;
    border: 1px solid #9999;
    text-indent: 10px;
}

.table_content5 table input {
    width: 100%;
    height: 30px;
    margin: 0px 5px;
    border: 1px solid #9999;
}


.btn5 a {
    background: #884018;
    height: 35px;
    padding: 5px 10px;
    line-height: 25px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    float: right;
    margin: 0 4px;

}

@media screen and (max-width : 1500px) {
    .footer_content {
        font-size: 9px;
        margin-left: 30px;
    }

    #banner ul > li .banner_info {
        position: absolute;
        top: -57px;
        left: 55vw;
        width: 45%;
    }
}




@media screen and (max-width : 1200px) {
    .footer_content {
        font-size: 9px;
    }

    .table_content1 table td input {
        width: 17%;

    }

    .table_content1 label {
        /*    font-size: 1rem;*/
        font-size: 11px;
        padding: 10px;

    }

    .table_content1 table th {
        text-align: right;
        /*    font-size: 1rem;*/
        font-size: 10px;
/*        display: inline-block;
        float: left;
        line-height: 95px;*/
    }

    .footer_content {
        font-size: 9px;
    }

    #banner ul > li .banner_info {
        position: absolute;
        top: -57px;
        left: 47vw;
        width: 36%;
    }


}

@media screen and (max-width : 1024px) {
    #sec1 {
        width: 90%;
    }

    .footer_content {
        font-size: 9px;
        margin-left: 135px;
    }

    .gnb {
        max-width: 100%;
    }

    .gnb li a {
        /*font-size: 2.1vw;*/
        font-size: 1.9vw;
    }

    .footer_content div {
        /*font-size:1.5vw;*/
        font-size: 0.5vw;
        margin-left: -100px;
    }

    .table_content table {
        width: 100%;
    }

    .small_font {
        font-size: 3px;
    }

    .sub li a {
        font-size: 1.2vw;
    }
}




@media screen and (max-width : 900px) {
    .footer_content {
        font-size: 9px;
        margin-left: 135px;
    }

    #banner ul > li .banner_info {
        position: absolute;
        top: -57px;
        left: 50vw;
        width: 50%;
    }
}

@media screen and (max-width:850px) {
    #banner ul > li .banner_info {
        position: absolute;
        top: -57px;
        left: 40vw;
        width: 40%;
    }
}


@media screen and (max-width:800px) {

    .sns,
    .topbtn .gnb2 .top_header_r a,
    .add_btn2 a,
    .footer_top  {
        display: none;
    }

    .gnb li a {
        /* font-size: 2.1vw; */
        font-size: 2.4vw;
    }

    .sub2 li {
        height: 5px;
    }

    .topbtn .gnb2 .sub2 .sub2_li a,
    .topbtn .gnb2 .sub2 .add_btn a {
        display: block;
        background: #fff;
        width: 150px;
        margin-left: -20px;
 font-size: 0.3vw;
    }

    .sub2 li a,
    .sub li a {
        font-size: 0.3vw;
    }


    .table_content table tr th {
        font-size: 14px;
    }

    .table_content table tr td {
        font-size: 14px;
    }

    .btn2 {
        font-size: 10px;
    }

    #banner ul > li .banner_info {
        position: absolute;
        top: -57px;
        left: 35vw;
        width: 34%;
    }

}
@media screen and (max-width:700px) {


    .sns,
    .footer_top,
    .topbtn .gnb2 .top_header_r a,
    .topbtn .gnb2 .add_btn2 a {
        display: none;
    }


    .topbtn .gnb2 .sub2 .sub2_li a,
    .topbtn .gnb2 .sub2 .add_btn a {
        display: block;
        background: #fff;
        width: 150px;
        margin-left: -20px;
        font-size: 0.3vw;
    }
 }
@media screen and (max-width:600px) {


    #banner ul > li .banner_info {
        position: absolute;
        top: -57px;
        left: 20vw;
        width: 18%;
    }
}
