@charset "utf-8";

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select {
    font-family: 'Noto Sans KR', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    /*    font-family: 'MalgunGothic', sans-serif;*/
    color: #333;
    /*font-weight: 400;*/
    box-sizing: border-box;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    word-break: break-all;
}

b {
    font-weight: 600;
}

input,
select,
img {
    box-sizing: border-box;
}

input,
textarea,
select {
    outline: 0;
}

input[type="text"],
input[type="password"] {
    border: 1px solid #dcdcdc;
    max-width: calc(100% - 12px);
    padding-left: 10px;
    height: 37px;
}

img {
    border: 0;
    max-width: 100%;
}

.table-warp table {
    border-collapse: collapse;
    max-width: 100%;
    width: 100%;
    table-layout: fixed;
}

a {
    display: inline-block;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.logo__ h1 {
    width: 23%;
    float: left;
    text-align: center;
    transform: translateY(26%);
}

.logo__ h1 a img {
    width: 50%;
    transform: translateY(13%);
}


.lnb {
    width: 294px;
    background-size: 100%;
    min-height: calc(100vh - 139px);
    float: left;
}

.content {
    background: #f8f9fa;
    width: calc(100% - 294px);
    /*width:82%;min-height:83%; */
    width: calc(100% - 294px);
    /*min-height: calc(100vh - 84px)*/
    min-height: calc(100vh - 139px);
    /*padding:35px;*/
    padding: 35px 35px 0 35px;
    border-top: 1px solid #dcdcdc;
}

.content > .sub-content {
    /*max-width:1200px;*/
    max-width: 980px;
    background: #fff;
    border: 1px solid #dcdcdc;
    padding: 15px;
    /*min-height:650px;*/
    height: 667px;
}




/*table_content1*/

.table_content1 {
    width: 100%;
    /*    height: 95px;*/
    height: 65px;
    background: #fbf6ef;

}

.table_content1 table {
    width: 100%;
    margin: 0 auto;

}

.table_content1 table tr {
    width: 50%;
    float: left;
}

.table_content1 table tr:nth-of-type(1) {
    /*    margin-left: 60px;*/
    margin-left: 2%;
}

.table_content1 table tr:nth-of-type(2) {
    /*    margin-left: -150px;*/
    margin-left: -16%;
}

.table_content1 table th {
    text-align: right;
    font-size: 1rem;
    display: inline-block;
    float: left;
    line-height: 60px;
}

.table_content1 table td {
    /*    width: 52%;*/
    width: 45%;
    border-bottom: 0;
    line-height: 57px;
    /*    transform: translateY(115%);*/

}

.table_content1 table td select {
    /*
    width: 20%;
    border: 1px solid #9999;
    height: 27px;
    font-size: 0.75vw;
*/

    width: 20%;
    border: 1px solid #9999;
    height: 27px;
    font-size: 0.75vw;
    /*    text-indent: 5px;*/
    margin-left: -10px;
}

.table_content1 table td input {
    /*
    width: 35%;
    border: 1px solid #9999;
    height: 27px;
    font-size: 0.75vw;
*/
    width: 35%;
    border: 1px solid #9999;
    height: 27px;
    font-size: 0.75vw;
    text-indent: 5px;


}

.table_content1 table tr:nth-of-type(1) td input {
    width: 46%;
}

.table_content1 table tr:nth-of-type(2) td input {
    margin-left: -14px;

}

.table_content1 label {
    font-size: 1rem;
    padding: 10px;

}


/*
.search_hover a:hover {
    border: 1px solid #fff;
    background-color: gray;
    color: #fff;
}
*/

.table_content1 table td a {

    /*
    background-color:#394b61;
    width:70px;
    height: 27px;
    line-height: 25px;
    color: #fff;
    font-size: 0.8vw;
    text-align: center;
    border: 1px solid #394b61;
*/
    background-color: #394b61;
    width: 70px;
    height: 27px;
    line-height: 25px;
    color: #fff;
    font-size: 0.75vw;
    text-align: center;
    border: 1px solid #394b61;
    display: inline-block;

}

/*
.table_content1 table td a img {
    width: 26%;
    padding: 0;
}
*/

.table_content1 table td a img {
    width: 17%;
    padding: 0;
}






/*table_content*/


.table_content h3 img {
    width: 0.9%;
    padding: 0;
}

.table_content h3 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    padding-top: 25px;
}

.top_tit p {
    margin-bottom: 10px;
    /*font-size: 0.4vw;*/
    font-size: 12px;
    text-align: right;
    width: 100%;

}


/*table_content3*/
.table_content3 thead tr th:nth-child(1) {
    width: 7%;

}

.table_content3 thead tr th:nth-child(3) {
    width: 42%;
}

.table_content3 thead tr:nth-of-type(1) {
    border-top: 2px solid #884018;
}

.table_content3 tr {
    border-bottom: 1px solid #9999;

}

.table_content3 tr td:nth-of-type(3) {
    text-align: left;
    padding-left: 10px;
}

.table_content3 th {
    height: 48px;
    background-color: #f8f9fa;
    text-align: center;
    font-weight: 600;
    border: 1px solid #9999;
}


.table_content3 td {
    text-align: center;
    height: 48px;
    cursor: pointer;
    border: 1px solid #9999;
}

.table_content3 tr:hover td {
    background: #f8f9fa;
}


.table_content3 tbody tr td img {
    width: 100%;
}

/*home*/

.home {
    max-width: 980px;
    padding: 0 0 10px 0;
    font-size: 13px;
    color: #000;
    text-align: right;
}

.bold_f {
    font-weight: bold;
    font-size: 13px;
}

select {
    height: 37px;
    border: 1px solid #dcdcdc;
    padding-left: 10px;
    max-width: calc(100% - 12px);
    padding-left: 10px;
    background: url(../images/select-bg.gif) no-repeat right 10px center #fff;
    padding-right: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    appearance: none;
    /*min-width: 100px;*/
}

.content > .sub-content > .select-box > .search-input > dl > dd > input {
    float: left;
    width: calc(100% - 71px);
    max-width: 460px;
}

input[type="text"],
input[type="password"] {
    border: 1px solid #dcdcdc;
    max-width: calc(100% - 12px);
    padding-left: 0px;
    height: 37px;
}





/*footer*/


footer {
    width: 100%;
    background: #ddd;
    clear: both;
    height: auto;

}


.footer {
    width: 67%;
    max-width: 980px;
    /*margin: 0 auto;*/
    margin: 0 330px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*    padding-bottom: 1vh;*/
    padding: 1vh 0;
}


.footer_left {
    text-align: center;
    float: left;
    width: 200px;
}

.footer_left img {
    width: 80px;
    vertical-align: middle;
}

.footer_content {
    width: 900px;
    /*    margin-left: 100px;*/
    margin-left: 45px;
    float: left;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 0.1vw;
    line-height: 1.5;

}

.footer_top {
    width: 200px;
    line-height: 100px;
    text-align: center;
}

.footer_top img {
    width: 30%;
    line-height: none;
    vertical-align: middle;

}

.orange {
    font-weight: 550;
    color: darkorange;
    line-height: 2;
}

.bold {
    font-weight: 550;

}

.bold:hover {
    color: darkorange;
}


/*btn*/


.btn.gray {
    background: #999999;
}

.btn.gray2 {
    background: #c3c3c3;
    color: #2c2c2c;
}

.btn.purple {
    background: #884018;
    margin-top: -157px;
    font-size: 15px;
    width: 62px;
    height: 35px;
    padding: 6px 16px;
    background: #8f4920;
    line-height: 20px;
    color: #fff;
    border: 1px solid #8f4920;
    font-weight: normal;
}

.btn.purple:hover {
    border: 1px solid #8f4920;
    background: #fff;
    color: #333;
}

.btn.purple2 {
    background: #67769f;
    color: #fff;
    border-radius: 0;
    width: 61px;
    line-height: 27px;
    padding: 5px;
    float: none !important;
}

.btn.btn-write {
    background: #67769f;
    color: #fff;
    width: 30px;
    height: 30px;
}

.btn.btn-del {
    background: #67769f;
    color: #fff;
    width: 30px;
    height: 30px;
}

.btn2 {
    width: 100%;
    text-align: center;
    font-size: 13px;
    margin: 70px 0;
}

.btn2 a:hover {
    color: #fff;
    background: #8f4920;
    border: 1px solid #8f4920;
}

.btn2 a {
    width: 34px;
    height: 34px;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    display: inline-block;
    margin-right: 4px;
    line-height: 34px;
    color: #333;

}

@media screen and (max-width : 1500px) {
    .footer_content {
        font-size: 9px;
        margin-left: 100px;
    }

}

@media screen and (max-width: 1200px) {
    .btn2 {
        margin: 103px 0;
    }

    .btn.purple {

        margin-top: -205px;
    }

    .table_content1 table tr:nth-of-type(1) td input {
        width: 30%;

    }

    .footer_content {

        font-size: 9px;
        margin-left: 25px;
    }

    .lnb {
        width: 294px;
        background-size: 100%;
        min-height: calc(100vh - 84px);
        float: left;
    }

    .content {
        background: #f8f9fa;
        width: calc(100% - 294px);
        /*width:82%;min-height:83%; */
        min-height: calc(100vh - 84px);
        /*min-height:calc(100vh - 84px);*/
        /*padding:40px;*/
        padding: 35px;
        border-top: 1px solid #dcdcdc;
    }

    .content > .sub-content {
        /*max-width:1200px;*/
        max-width: 980px;
        background: #fff;
        border: 1px solid #dcdcdc;
        padding: 15px;
        /*padding:20px;*/
        /*min-height:750px;*/
        min-height: 750px;
    }

}

@media screen and (max-width: 1000px) {
    .footer_content {


        margin-left: 70px;
    }

}

@media screen and (max-width : 900px) {
    .footer_content {

        font-size: 9px;

    }

}

/*@media screen and (max-width:829px) {
        .btn.purple {

        margin-top: -250px;
    }
}*/

@media screen and (max-width:826px) {
    .btn.purple {

        margin-top: -223px;
    }

    .table_content1 table td a {

        width: 50px;

    }
}

@media screen and (max-width:825px) {
    .scroll {
        width: 100%;
        overflow-x: auto;
        position: relative;
    }

    .footer_content {


        margin-left: 30px;
    }



}


@media screen and (max-width:690px) {
    .btn.purple {

        margin-top: -223px;
    }

    .table_content1 table tr:nth-of-type(1) td input {
        width: 10%;

    }

    .table_content1 table tr:nth-of-type(2) td input {
        margin-left: -1px;
        width: 20%;
    }
}

@media screen and (max-width:688px) {
    .btn.purple {

        margin-top: -257px;
    }

    .table_content1 label {

        padding: 0;
    }

}
