@charset "utf-8";
#contents > *{float:left;}

.lnb{width:294px;background-size: 100%;min-height: calc(100vh - 84px);float: left;}
.lnb > .gnb-close-btn{text-align:right;display:none;}
.lnb > h3.member{border-bottom:1px solid #884018;height:113px;padding:43px 30px;/*line-height:30px;*/margin-bottom:23px;border-top: 1px solid #dcdcdc;}
.lnb > h3.member > b{font-size:17px;color:#884018;font-weight:550;}
.lnb > h3.member > span{margin-left:5px;font-size:15px;color:#333;font-weight:550;}
.lnb > h3.member > a{float:right;}
.log-out img{
    width:20px;
    transform: translateY(25%);
}
.lnb > .lnb-list{padding:0 20px;}
.lnb > .lnb-list > ul > li{margin-bottom:10px;}
.lnb > .lnb-list > ul > li > a{display:block;border-radius:5px;border-left:5px solid #884018;background:#f7f7f7;height:37px;padding:5px 41px 5px 21px;}
.lnb > .lnb-list > ul > li > a > img{
    width:15px;
    float: left;
    transform: translateY(32%);
}
.lnb > .lnb-list > ul > li > a > span{display:block;color:#333;font-size:16px;background:url(../images/sub/deaph1-bg2.png) no-repeat left center;padding-left: 20px;}
.lnb > .lnb-list > ul > li > ul.deaph2{margin:5px 23px;margin-top:15px;border-left:1px solid #fff;padding-left:14px;display:none;}
.lnb > .lnb-list > ul > li > ul.deaph2 > li > a{display:block;background:url(../images/sub/deaph2-bg.png) no-repeat left center;color:#333;font-size:13px;padding-left:23px;}
.lnb > .lnb-list > ul > li > ul.deaph2 > li > a.on, ul.deaph2 > li > a:hover{color:#333;}
.lnb > .lnb-list > ul > li.on > ul.deaph2{display:block;}
.content{background:#f8f9fa;width:calc(100% - 294px);/*width:82%;min-height:83%; */   width: calc(100% - 294px);
    min-height: calc(100vh - 84px);/*min-height:calc(100vh - 84px);*//*padding:40px;*/padding:35px;border-top:1px solid #dcdcdc;}
.content > h3.sub-tit{max-width: 980px;background:url(../images/sub/sub-tit.gif) no-repeat left center;font-size:20px;color:#333333;font-weight:700;margin-bottom:15px;}

.content > h3.sub-tit >img{
   width: 17px; 
}

.content > .sub-content{/*max-width:1200px;*/max-width:980px;background:#fff;border:1px solid #dcdcdc;padding:15px;/*padding:20px;*//*min-height:750px;*/min-height:650px;}
.red-font{color:#c93c3c;font-weight:700;}
.btn{width:6%;height:35px;/*border-radius:5px*/padding:5px 0;line-height:25px;text-align:center;font-size:15px;color:#fff;/*font-weight:500;*//*margin-top: -88px;*/}







/*.table-warp{margin-top: 10px;}*/
.table-warp > table{table-layout:fixed;}










@media screen and (max-width:1450px) {
    #gnb>li>a{font-size:0.8vw;}
}
@media screen and (max-width:1200px) {
    #header > .gnb-btn{margin:-52px 0;}

    
/*    .footer{margin-left:0;width:100%;height:100px;}*/
    .footer h1 a img{width:100%;width:84%;}
    .footer p{font-size:0.5vw;width:60%;float:left;}
    .footer h1{
        width:10%;padding:0;float:left;margin-left: 12%;
    }
    .footer .top{width:10%;padding:0;float:left;}
    .top a img{width:50%;}
    /*#header > *{float:none;height:none;}*/
    /*.header-menu{padding:0;width:50%;}*/
    /*body{background:none;}*/
	.content > .sub-content > .select-box > ul{display:block;}
	.content > .sub-content > .select-box > ul > li{display:inline-block;margin-bottom:10px;margin-right:10px;}
	.content > .sub-content > .select-box > ul > li + li > label{text-align:left;width:auto;}
	.content > .sub-content > .select-box > .search-input > dl{margin-top:0;}
	.content > .sub-content > .select-box > .search-input.style2 > dl{margin-top:10px;}
	.table-warp.registration > table td p{margin-top:5px;line-height:1.2;}

}
@media screen and (max-width:1024px) {
    
    .footer > *{float:none;height:none;}
    .footer{margin-left:0;width:100%;height:100px;}
    .footer h1 a img{width:100%;width:84%;}
    .footer p{font-size:0.5vw;width:60%;float:left;}
    .footer h1{
        width:10%;padding:0;float:left;
    }
    .footer .top{width:10%;padding:0;float:left;}
    .top a img{width:50%;}
    #header > .gnb-btn{margin:-52px 0;}
    
    
    #header > *{float:none;height:none;}
    
    
    
    .header-menu{padding:0;}
    body{background:none;}
	.header-menu{width:50%;}
    
    .lnb{position: fixed;background:#d5dee7;height:100%;top:0;right:-294px;z-index: 2;}
	.lnb > .gnb-close-btn{display:block;}
	.lnb > h3.member{padding-top:10px;}
	.content{float:none;width:100%;/*margin: 74px 0 0 0;*/}
	/*#contents > *{float:none;}*/
	.table-warp.registration > table td.file-box p.txt{float:none;display:block;}
            .btn{width:8%;height:30px;/*border-radius:5px;*/padding:0px 0;line-height:30px;text-align:center;font-size:12px;color:#fff;font-weight:500;margin-top: -10vw;}
    

}

@media screen and (max-width:825px) {
    
    #header > .gnb-btn{margin:-53px 0;}
    .footer{margin-left:0;width:100%;height:100px;}
    .footer h1 a img{width:100%;width:84%;}
    .footer p{font-size:0.5vw;width:60%;float:left;}
    .footer h1{
        width:10%;padding:0;float:left;
    }
    .footer .top{width:10%;padding:0;float:left;}
    .top a img{width:50%;}
    #header > *{float:none;height:none;}
    .header-menu{padding:0;}
    body{background:none;}
	.header-menu{width:50%;}
/*    .scroll{width: 100%;overflow-x: auto;position: relative;}*/
	.scroll::before{content: "";position: absolute;left: 0;right: 0;top: 0;bottom: 0;z-index: 1;margin: auto;width: 100px;height: 100px;background: url('../images/sub/icon_scrolled.png') center no-repeat;background-size: 100%;opacity: 0.3;}
	.scroll > table{min-width: 825px;}
	.table-warp > table th{font-size: 15px;}
	.table-warp > table td{font-size: 13px;}
	.content > .sub-content > .list-btn > .sub-tab{float:none;border-bottom:0;margin-bottom:4px;margin-left:-6px;}
	.content > .sub-content > .list-btn > .sub-tab > li{width:calc(25% - 6px);margin-left:6px;margin-bottom:6px;border-bottom:1px solid #5d5d5d;}
	.content > .sub-content > .list-btn > .sub-tab > li > a{width:auto;}
    

}
@media screen and (max-width:560px) {
    #header > .gnb-btn{margin:-52px 0;}
    .footer h1 a img{width:100%;width:84%;}
    .footer{margin-left:0;width:100%;height:100px;}
    .footer p{font-size:0.5vw;width:60%;float:left;}
    .footer h1{
        width:10%;padding:0;float:left;
    }
    .footer .top{width:10%;padding:0;float:left;}
    .top a img{width:50%;}
    #header > *{float:none;height:none;}
    

















