<form [formGroup]="searchForm">
  <div class="row">
    <div class="col">
      <input type="text" formControlName="bbsSjNm" />
      <input type="text" formControlName="bbsCn" />
      <button (click)="onSearchClick()">검색</button>
    </div>
  </div>
</form>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>제목</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let x of bbses; index as i">
      <td>{{ itemNo(i) }}</td>
      <td>{{ x.bbsSjNm }}</td>
      <td>{{ x.registDt | date: "yyyy-MM-dd" }}</td>
      <td><button (click)="onDetailClick(x.bbsId)">조회</button></td>
      <td></td>
    </tr>
  </tbody>
</table>

<app-cmmn-pager #cmmnPagerRef (initedEvent)="cmmnPagerInitedEvent($event)"></app-cmmn-pager>

<button (click)="onRegistBbsClick()">등록</button>
