<app-editor-header [editingScrinId]="editingScrinId" (menuClickedEvent)="menuClicked($event)"></app-editor-header>

<div class="row">
  <div class="col-*" style="width: 350px">
    <div class="mt-2"></div>

    <ul class="nav nav-tabs mt-2">
      <li class="nav-item">
        <a #tabScrinRef class="nav-link" data-tab="SCRIN" aria-current="page" href="javascript:;" (click)="onTabClick(tabScrinRef)">화면</a>
      </li>
      <li class="nav-item">
        <a #tabMenuRef class="nav-link" data-tab="MENU" href="javascript:;" (click)="onTabClick(tabMenuRef)">메뉴</a>
      </li>
      <li class="nav-item">
        <a #tabCompnRef class="nav-link" data-tab="COMPN" href="javascript:;" (click)="onTabClick(tabCompnRef)">콤포넌트</a>
      </li>
      <li class="nav-item">
        <a #tabPropertyRef class="nav-link" data-tab="PROPERTY" href="javascript:;" (click)="onTabClick(tabPropertyRef)">속성</a>
      </li>
    </ul>

    <div #areaScrinRef class="area d-none" data-area="SCRIN">
      <app-scrin-group #scrinGroupRef [prjctId]="prjctId" (initedEvent)="subComponentInitedEvent($event, 'SCRIN')" (saveEvent)="saveScrin()" (closeEvent)="closeScrin()"></app-scrin-group>
    </div>
    <div #areaMenuRef class="area d-none" data-area="MENU">
      <app-menu #menuRef [prjctId]="prjctId" [editingScrinId]="editingScrinId" (initedEvent)="subComponentInitedEvent($event, 'MENU')"></app-menu>
    </div>
    <div #areaCompnRef class="area d-none" data-area="COMPN">
      <app-compn #compnRef [prjctId]="prjctId" [editingScrinId]="editingScrinId" (initedEvent)="subComponentInitedEvent($event, 'COMPN')" (tagSelectedEvent)="tagSelected($event)"></app-compn>
    </div>
    <div #areaPropertyRef class="area d-none" data-area="PROPERTY">
      <app-tool [prjctId]="prjctId" (initedEvent)="subComponentInitedEvent($event, 'PROPERTY')"></app-tool>

      <app-property [prjctId]="prjctId" [editingScrinId]="editingScrinId" (initedEvent)="subComponentInitedEvent($event, 'PROPERTY')" (elPropertyChangedEvent)="elChanged($event)"></app-property>
    </div>
  </div>
  <div class="col">
    <div class="content" style="position: relative"></div>
  </div>
</div>

<div class="mt-2"></div>

<app-source-edit-dialog #sourceEditDialogRef (editedEvent)="sourceEdited($event)"></app-source-edit-dialog>
