<div class="row">
  <div class="col-2">
    <div class="mt-2">
      <button type="button" class="btn btn-outline-secondary btn-sm" (click)="linkPrjcts()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reply" viewBox="0 0 16 16">
          <path
            d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z"
          />
        </svg>
        프로젝트 목록
      </button>

      <ng-container *ngIf="0 < editingScrinId.length">
        <button type="button" class="btn btn-outline-warning btn-sm mx-1" (click)="saveEditing()">편집저장</button>
        <button type="button" class="btn btn-outline-warning btn-sm" (click)="closeEditing()">편집닫기</button>
      </ng-container>
    </div>

    <ul class="nav nav-tabs mt-2">
      <li class="nav-item">
        <a #tabScrinRef class="nav-link active" aria-current="page" href="javascript:;">화면</a>
      </li>
      <li class="nav-item">
        <a #tabCompnRef class="nav-link" href="javascript:;">콤포넌트</a>
      </li>
      <li class="nav-item">
        <a #tabMenuRef class="nav-link" href="javascript:;">메뉴</a>
      </li>
    </ul>

    <div #areaMenuRef class="d-none">
      <app-menu #menuRef [prjctId]="prjctId" [editingScrinId]="editingScrinId"></app-menu>
    </div>
    <div #areaScrinRef class="d-none">
      <app-scrin-group #scrinGroupRef [prjctId]="prjctId" [editingScrinId]="editingScrinId" (scrinSelectedEvent)="scrinSelected($event)" (saveEvent)="saveScrin()" (closeEvent)="closeScrin()"></app-scrin-group>
    </div>
    <div #areaCompnRef class="d-none">
      <app-compn #compnRef [prjctId]="prjctId" [editingScrinId]="editingScrinId" (tagSelectedEvent)="tagSelected($event)"></app-compn>
    </div>
  </div>
  <div class="col">
    <div class="content" style="position: relative"></div>
  </div>
  <div class="col-3">
    <app-tool [prjctId]="prjctId" [editingScrinId]="editingScrinId"></app-tool>

    <app-property [prjctId]="prjctId" [editingScrinId]="editingScrinId" (elPropertyChangedEvent)="elChanged($event)"></app-property>
  </div>
</div>

<div class="mt-2"></div>
