<app-header></app-header>
<div id="banner">
  <ul>
    <li>
      <!--                <img src="./assets/images/banner01_22.png" alt="배너" class="ban">-->
      <div class="banner_info">
        <img src="./assets/images/banner01_222.png" alt="배너안에이미지" class="pu" />
        <p>고객지원</p>
      </div>
    </li>
  </ul>
</div>
<section id="sec1">
  <div class="sec1_inner">
    <div>
      <p class="sec1_inner_inner">Home > 고객지원 > <span class="bold_f">문의처</span></p>
      <div class="center">
        <div class="notice">
          <ul class="left_txt">
            <li class="sec1_txt1"><img src="./assets/images/brownbar.png" alt="갈색바" />&nbsp;문의처 안내</li>
            <!--                            <div class="tab_line"></div>-->
          </ul>
        </div>

        <section id="sec4">
          <div class="sec4_inner">
            <div class="center">
              <!--                <h2 class="sec1_txt4">문의처 안내</h2>-->
              <div class="sec1_4_left">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3166.4995294673995!2d126.88241281564623!3d37.472536837262915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b61e671399415%3A0x51f62570868222f2!2z7ISc7Jq47Yq567OE7IucIOq4iOyynOq1rCDqsIDsgrDrj5kg6rCA7IKw65SU7KeA7YS4MeuhnCA3NQ!5e0!3m2!1sko!2skr!4v1621305763438!5m2!1sko!2skr" width="135%" height="340" style="border: 0" allowfullscreen="" loading="lazy"></iframe>
              </div>
              <div class="sec1_4_left_m">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3166.4995294673995!2d126.88241281564623!3d37.472536837262915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b61e6713499415%3A0x51f62570868222f2!2z7ISc7Jq47Yq567OE7IucIOq4iOyynOq1rCDqsIDsgrDrj5kg6rCA7IKw65SU7KeA7YS4MeuhnCA3NQ!5e0!3m2!1sko!2skr!4v1621305763438!5m2!1sko!2skr" width="100%" height="200px" style="border: 0" allowfullscreen="" loading="lazy"></iframe>
              </div>
              <div class="sec1_4_right">
                <table>
                  <tr>
                    <th><img src="./assets/images/soo.png" alt="메인로고" /></th>
                  </tr>
                  <tr>
                    <th><img src="./assets/images/dot.png" alt="목록아이콘" />&nbsp;도로명</th>
                    <td>서울특별시 금천구 가산디지털1로 75-15<br />가산하우스디와이즈타워 제2층 제226호,227호</td>
                  </tr>
                  <tr>
                    <th><img src="./assets/images/dot.png" alt="목록아이콘" />&nbsp;지번</th>
                    <td>서울특별시 금천구 가산동 345-19<br />가산하우스디와이즈타워 제2층 제226호,227호</td>
                  </tr>
                  <tr>
                    <th><img src="./assets/images/dot.png" alt="목록아이콘" />&nbsp;연락처</th>
                    <td>· TEL 070-4085-8709<br />· FAX 031-698-8208</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
