<app-header></app-header>
<div id="banner">
  <ul>
    <li>
      <!--                <img src="./assets/images/banner01_22.png" alt="배너" class="ban">-->
      <div class="banner_info">
        <img src="./assets/images/banner01_222.png" alt="배너안에이미지" class="pu" />
        <p>고객지원</p>
      </div>
    </li>
  </ul>
</div>
<section id="sec1">
  <div class="sec1_inner">
    <div>
      <p>Home > 고객지원 > <span class="bold_f">FAQ</span></p>
      <div class="center">
        <div class="notice">
          <ul class="left_txt">
            <li class="sec1_txt1"><img src="./assets/images/brownbar.png" alt="갈색바" />&nbsp;FAQ</li>
            <!--                            <div class="tab_line"></div>-->
          </ul>
        </div>
        <!--
              <div class="table_content1">
                  <table>
                      <form method="post">
                          <tr>
                              <th>검색어</th>
                              <td><select>
                                      <option></option>
                                  </select>&nbsp;<input type="text" /></td>
                          </tr>
                          <tr>
                              <th>날짜</th>
                              <td class="search_hover"><input type="text" />&nbsp;&nbsp;<a href="#none">조회&nbsp;<img src="./assets/images/ico_search.png" alt="돋보기"></a></td>
                          </tr>
                      </form>
                  </table>
              </div>
-->

        <div class="table_content1">
          <form method="post">
            <table>
              <tr>
                <th>검색어&nbsp;&nbsp;&nbsp;</th>
                <td>
                  <select>
                    <option>제목</option>
                    <option>내용</option>
                    <option>작성일자</option></select
                  >&nbsp;<input type="text" />
                </td>
              </tr>
              <tr>
                <th><label for="start">날짜&nbsp;&nbsp;</label></th>
                <td class="search_hover"><input type="date" id="start" name="trip-start" value="2021-08-13" min="2021-08-01" max="2050-08-31" /> ~ <input type="date" id="start" name="trip-start" value="2021-08-13" min="2021-08-01" max="2050-08-31" />&nbsp;&nbsp;<a href="#none">조회&nbsp;</a></td>
              </tr>
            </table>
          </form>
        </div>

        <div class="dot_list">
          <h3><img src="./assets/images/dot.png" alt="목록아이콘" />&nbsp;FAQ 목록</h3>
        </div>
        <div class="top_tit">
          <p>(총 007건)</p>
        </div>
        <div class="table_content">
          <form method="post">
            <table>
              <tr>
                <th class="th1">순번</th>
                <th class="th2">제목</th>
                <th class="th3">작성일자</th>
                <th class="th4">작성자</th>
                <th class="th5">첨부파일</th>
                <th class="th6">조회수</th>
              </tr>
              <tr>
                <td>7</td>
                <td><a href="business16_br.html">에디터 어떻게 들어가는 건가요?</a></td>
                <td>2021.04.08</td>
                <td>관리자</td>
                <td>
                  <a href="#none"><img src="./assets/images/disk.png" alt="디스크이미지" /></a>
                </td>
                <td>2</td>
              </tr>
              <tr>
                <td>6</td>
                <td><a href="#none">무통장 입금은 어디로 하나요?</a></td>
                <td>2021.04.02</td>
                <td>관리자</td>
                <td>
                  <a href="#none"><img src="./assets/images/disk.png" alt="디스크이미지" /></a>
                </td>
                <td>3</td>
              </tr>
              <tr>
                <td>5</td>
                <td><a href="#none">휴대폰 결제가 안되요</a></td>
                <td>2021.03.26</td>
                <td>관리자</td>
                <td>
                  <a href="#none"><img src="./assets/images/disk.png" alt="디스크이미지" /></a>
                </td>
                <td>1</td>
              </tr>
              <tr>
                <td>4</td>
                <td><a href="#none">에디터 위에 메뉴는 어떻게 사용하는 건가요?</a></td>
                <td>2021.03.21</td>
                <td>관리자</td>
                <td>
                  <a href="#none"><img src="./assets/images/disk.png" alt="디스크이미지" /></a>
                </td>
                <td>3</td>
              </tr>
              <tr>
                <td>3</td>
                <td><a href="#none">결제를 잘못했어요</a></td>
                <td>2021.03.18</td>
                <td>관리자</td>
                <td>
                  <a href="#none"><img src="./assets/images/disk.png" alt="디스크이미지" /></a>
                </td>
                <td>3</td>
              </tr>
              <tr>
                <td>2</td>
                <td><a href="#none">배포가 안되요</a></td>
                <td>2021.03.12</td>
                <td>관리자</td>
                <td>
                  <a href="#none"><img src="./assets/images/disk.png" alt="디스크이미지" /></a>
                </td>
                <td>3</td>
              </tr>
              <tr>
                <td>1</td>
                <td><a href="#none">용어사전에 "리뷰" 단어 추가 해주세요</a></td>
                <td>2021.03.09</td>
                <td>관리자</td>
                <td>
                  <a href="#none"><img src="./assets/images/disk.png" alt="디스크이미지" /></a>
                </td>
                <td>2</td>
              </tr>
            </table>
          </form>
        </div>

        <div class="btn2">
          <a href="#none">≪</a>
          <a href="#none">＜</a>
          <a href="#none">1</a>
          <a href="#none">2</a>
          <a href="#none">3</a>
          <a href="#none">4</a>
          <a href="#none">5</a>
          <a href="#none">6</a>
          <a href="#none">7</a>
          <a href="#none">8</a>
          <a href="#none">9</a>
          <a href="#none">10</a>
          <a href="#none">＞</a>
          <a href="#none">≫</a>
        </div>
        <!--
              <div class="btn">
                  <a href="business_br.html">문의하기 →</a>
              </div>
-->
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
