<app-header></app-header>
<div id="banner">
  <ul>
    <li>
      <!--                <img src="./assets/images/banner01_22.png" alt="배너" class="ban">-->
      <div class="banner_info">
        <img src="./assets/images/banner01_222.png" alt="배너안에이미지" class="pu" />
        <p>마이페이지</p>
      </div>
    </li>
  </ul>
</div>

<!--    <div class="tab_line2"></div>-->

<section id="sec1">
  <div class="sec1_leftmenu">
    <table>
      <tr>
        <td>마이페이지</td>
      </tr>
      <tr class="horver_tr">
        <td><a href="sub/business20">회원정보</a></td>
      </tr>
      <tr class="horver_tr">
        <td><a href="sub/business21">문의내역</a></td>
      </tr>
      <tr class="horver_tr">
        <td><a href="sub/business22">구매내역</a></td>
      </tr>
    </table>
  </div>

  <div class="sec1_inner">
    <div>
      <p>Home > 마이페이지 > <span class="bold_f">문의내역</span></p>
      <div class="center">
        <div class="notice">
          <ul class="left_txt">
            <li class="sec1_txt1">1:1 문의</li>
          </ul>
        </div>

        <div class="table_content">
          <div class="top_tit">
            <p>(총 007건)</p>
          </div>
          <div class="table_content">
            <form method="post">
              <table>
                <tr>
                  <th class="th1">문의 유형</th>
                  <th class="th2">제목</th>
                  <th class="th3">작성일자</th>
                  <th class="th4">답변 여부</th>
                </tr>
                <tr>
                  <td>사용방법</td>
                  <td><a href="business16_br.html">에디터 어떻게 들어가는 건가요?</a></td>
                  <td>2021.04.08</td>
                  <td class="green_f">답변 완료</td>
                </tr>
                <tr>
                  <td>요금/결제</td>
                  <td><a href="javascript:;">무통장 입금은 어디로 하나요?</a></td>
                  <td>2021.04.02</td>
                  <td class="yellow_f">답변 대기</td>
                </tr>
                <tr>
                  <td>요금/결제</td>
                  <td><a href="javascript:;">휴대폰 결제가 안되요</a></td>
                  <td>2021.03.26</td>
                  <td class="yellow_f">답변 대기</td>
                </tr>
                <tr>
                  <td>사용방법</td>
                  <td><a href="javascript:;">에디터 위에 메뉴는 어떻게 사용하는 건가요?</a></td>
                  <td>2021.03.21</td>
                  <td class="yellow_f">답변 대기</td>
                </tr>
                <tr>
                  <td>요금/결제</td>
                  <td><a href="javascript:;">결제를 잘못했어요</a></td>
                  <td>2021.03.18</td>
                  <td class="yellow_f">답변 대기</td>
                </tr>
                <tr>
                  <td>사용방법</td>
                  <td><a href="javascript:;">배포가 안되요</a></td>
                  <td>2021.03.12</td>
                  <td class="yellow_f">답변 대기</td>
                </tr>
                <tr>
                  <td>용어신청</td>
                  <td><a href="javascript:;">용어사전에 "리뷰" 단어 추가 해주세요</a></td>
                  <td>2021.03.09</td>
                  <td class="yellow_f">답변 대기</td>
                </tr>
              </table>
            </form>
          </div>

          <div class="btn">
            <a href="business_br.html">문의하기</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
