<div id="header">
  <div class="header-menu" class="clearfix">
    <div class="header-inner">
      <div class="logo__">
        <h1 class="logo">
          <a href="index"><img src="./assets/images/mainlogo_brown.png" alt="scrobot로고" /></a>
        </h1>
      </div>
      <nav>
        <ul id="gnb" class="clearfix">
          <li *ngFor="let x of menus">
            <a href="{{ x.link }}">{{ x.nm }}</a>
            <ul class="depth2">
              <li *ngFor="let x2 of x.sub">
                <a href="{{ x2.link }}">{{ x2.nm }}</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="Hmenu-bg"></div>
      </nav>
    </div>
  </div>
  <a href="javascript:;" class="gnb-btn"><img src="./assets/images/gnb-btn.png" alt="전체메뉴" /></a>
  <div class="gnb-bg"></div>
</div>
