<div>
  <table class="table property">
    <thead>
      <tr>
        <th>속성</th>
        <th>값</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of properties">
        <td>{{ x.text }}</td>
        <td>
          <!-- btn -->
          <ng-container *ngIf="'btn' === x.se">
            <select class="form-control" attr.data-se="{{ x.se }}" [name]="x.key">
              <option value="">-없음-</option>
              <ng-container *ngFor="let btnSe of btnSes">
                <option [value]="btnSe.cmmnCode" selected *ngIf="btnSe.cmmnCode === x.value">{{ btnSe.cmmnCodeNm }}</option>
                <option [value]="btnSe.cmmnCode" *ngIf="btnSe.cmmnCode !== x.value">{{ btnSe.cmmnCodeNm }}</option>
              </ng-container>
            </select>
          </ng-container>

          <!-- css || data || value || text -->
          <ng-container *ngIf="'css' === x.se || 'data' === x.se || 'value' === x.se || 'text' === x.se">
            <input type="text" class="form-control" attr.data-se="{{ x.se }}" [name]="x.key" [value]="x.value" />
          </ng-container>

          <!-- item -->
          <ng-container *ngIf="'item' === x.se">
            <button type="button" class="btn btn-outline-secondary btn-sm" (click)="editItem(x.$el, x.tagName)">...</button>
          </ng-container>
        </td>
      </tr>

      <tr *ngIf="0 === properties.length">
        <td colspan="2" class="text-center">선택된 콤포넌트가 없습니다.</td>
      </tr>
    </tbody>
    <tfoot *ngIf="0 < properties.length">
      <tr>
        <td colspan="2">
          <button type="button" class="btn btn-outline-primary btn-sm" (click)="applyProperty()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save" viewBox="0 0 16 16">
              <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z" />
            </svg>
            적용
          </button>
          <button type="button" class="btn btn-outline-secondary btn-sm mx-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg>
            취소
          </button>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<app-table-item-edit-dialog #tableItemEditDialogRef (itemEditedEvent)="itemEdited($event)"></app-table-item-edit-dialog>
