<app-header></app-header>

<div id="main_banner">
  <ul class="slider">
    <li><img src="./assets/images/banner1.png" alt="배너1" /></li>
    <li><img src="./assets/images/banner2.png" alt="배너2" /></li>
  </ul>
</div>
<div id="mini">
  <ul class="rolling">
    <li>
      <h4>공지사항</h4>
      <p>4/8 결제 서비스 점검</p>
      <span>2021.01.01 </span>
      <div class="more">
        <a href="business11_br.html">more <span> +</span></a>
      </div>
    </li>
    <li>
      <h4>공지사항</h4>
      <p>4/2 SC_ROBOT 공지사항</p>
      <span>2021.02.01 </span>
      <div class="more">
        <a href="business11_br.html">more <span> +</span></a>
      </div>
    </li>
    <li>
      <h4>공지사항</h4>
      <p>3/26 SC_ROBOT 공지사항</p>
      <span>2021.03.01 </span>
      <div class="more">
        <a href="business11_br.html">more <span> +</span></a>
      </div>
    </li>
  </ul>
</div>

<!--    <div class="mainimg"><img src="./assets/images/mainimg2.png" alt="메인이미지"></div>-->

<section id="sec1">
  <div class="sec1_inner">
    <div data-aos="fade-up" data-aos-duration="1500">
      <div class="center">
        <ul>
          <li>
            <h2>서비스 이용하기</h2>
            <a href="./new_sc_robot_edit/editmain.html" target="_blank">바로가기 ></a>
          </li>
          <li>
            <p><img src="./assets/images/round1_2.png" alt="혁신적인 편리함" /></p>
            <p class="br_title">혁신적인 편리함</p>
            <p>화면을 그리면<br />웹 서비스가 실행되는<br />편리하고 혁신적인 제작 방식</p>
          </li>
          <li>
            <p><img src="./assets/images/round2_2.png" alt="트렌디한 디자인" /></p>
            <p class="br_title">트렌디한 디자인</p>
            <p>디자인 경험이 없어도<br />트렌디한 사이트 생성을 위한<br />기본 디자인 제공</p>
          </li>
          <li>
            <p><img src="./assets/images/3_2.png" alt="다양한 스펙트럼" /></p>
            <p class="br_title">다양한 스펙트럼</p>
            <p>간단한 사이트부터<br />전문적인 사이트까지<br />손쉽게 제작 가능</p>
          </li>
          <li>
            <p><img src="./assets/images/4_2.png" alt="투자대비 효과 향상" /></p>
            <p class="br_title">투자대비 효과 향상</p>
            <p>자동화로 인한 인건비 감소와<br />고품질 서비스 제공으로<br />매출 증가 효과 기대</p>
          </li>
          <li>
            <p><img src="./assets/images/5_2.png" alt="완전 자동화" /></p>
            <p class="br_title">완전 자동화</p>
            <p>전자정부 표준 프레임워크<br />기반의 고품질 코드<br />완전 자동 생성</p>
          </li>
          <li>
            <p><img src="./assets/images/6_22.png" alt="내맘대로 커스터마이징" /></p>
            <p class="br_title">내맘대로 커스터마이징</p>
            <p>제약없이 원하는 화면을<br />드래그＆드롭 방식으로<br />간편하게 구성</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="sec2">
  <div class="sec2_inner">
    <div class="center">
      <div class="imgbox1">
        <div class="imgbox_">
          <h2>SC_ROBOT이 제공하는 4가지 만족</h2>
        </div>
        <div class="imgbox_cont">
          <ul>
            <li>
              <div class="cont_box">
                <div class="cont_p">
                  <p class="or_title">코드 만족</p>
                  <p>전자정부 표준 프레임워크 기반 코드<br />자동생성으로 완벽한 화면 구현</p>
                </div>
                <div class="cont_img"><img src="./assets/images/sec1_1.png" alt="코드 만족" /></div>
              </div>
            </li>
            <li>
              <div class="cont_box">
                <div class="cont_p">
                  <p class="or_title">퀄리티 만족</p>
                  <p>사용이 간단하지만<br />완성도 높은 결과물</p>
                </div>
                <div class="cont_img"><img src="./assets/images/sec1_2.png" alt="퀄리티 만족" /></div>
              </div>
            </li>
            <li>
              <div class="cont_box">
                <div class="cont_p">
                  <p class="or_title">디자인 만족</p>
                  <p>디자인 감각이 없어도<br />훌륭한 웹사이트 제작 환경 제공</p>
                </div>
                <div class="cont_img"><img src="./assets/images/sec1_3.png" alt="디자인 만족" /></div>
              </div>
            </li>
            <li>
              <div class="cont_box">
                <div class="cont_p">
                  <p class="or_title">서비스 만족</p>
                  <p>다가가기 쉽고<br />편리한 툴 제공으로 사용자 만족</p>
                </div>
                <div class="cont_img"><img src="./assets/images/sec1_4.png" alt="서비스 만족" /></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="imgbox2">
        <div class="imgbox_">
          <h2>
            문의하기<a href="business2_br.html"><img src="./assets/images/plus.png" alt="플러스아이콘" /></a>
          </h2>
        </div>
        <div class="imgbox_cont">
          <div class="imgbox2_cont">사용이 어렵거나 기술문의, 기능<br />요청이 있을 경우 <span class="brownf">언제든지!</span><br />문의주세요.</div>
          <div class="imgbox2_cont"><img src="./assets/images/web.png" alt="노트북" /></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="sec3">
  <div class="sec3_inner">
    <div class="center">
      <div class="imgbox3">
        <div class="imgbox_2">
          <h2>나만의 코딩 로봇 지금 시작 해보세요!</h2>
        </div>
        <div class="imgbox_cont2">
          <img src="./assets/images/coding_robot2.png" alt="코딩로봇배경" />
          <div class="imgbox2_cont2">SC_ROBOT으로 화면 생성이 펼쳐집니다.</div>
          <p><a href="./new_sc_robot_edit/editmain.html" target="_blank">화면 생성하기</a></p>
        </div>
      </div>

      <div class="imgbox4">
        <div class="imgbox_2">
          <h2>서비스에 맞는 <span class="brownf1">상품</span>을 확인해 보세요.</h2>
        </div>
        <div class="imgbox_cont2">
          <ul>
            <li>
              <div class="cont_box2">
                <div class="cont_p2">
                  <p class="brownf2"><img src="./assets/images/dot.png" alt="목록점" /> DEMO</p>
                  <p>
                    > 화면 생성하기<br />> 프로젝트 생성하기<br />> html파일 다운로드<br /><span class="grayf">> 서비스 배포<br />> 개발파일 다운로드</span>
                  </p>
                  <div class="btn_cont1">
                    <a href="sub_service_br.html">
                      <img src="./assets/images/sec5_button1.png" alt="자세히보기버튼" />
                      <p>자세히보기</p>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="cont_box2">
                <div class="cont_p2">
                  <p class="brownf2"><img src="./assets/images/dot.png" alt="목록점" /> BASIC</p>
                  <p>> 화면 생성하기<br />> 프로젝트 생성하기<br />> html파일 다운로드<br />> 서비스 배포<br /><span class="grayf">> 개발파일 다운로드</span></p>
                  <div class="btn_cont2">
                    <a href="sub_service_br.html">
                      <img src="./assets/images/sec5_button1.png" alt="자세히보기버튼" />
                      <p>자세히보기</p>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="cont_box2">
                <div class="cont_p2">
                  <p class="brownf2"><img src="./assets/images/dot.png" alt="목록점" /> DEVELOPER</p>
                  <p>> 화면 생성하기<br />> 프로젝트 생성하기<br />> html파일 다운로드<br />> 서비스 배포<br />> 개발파일 다운로드</p>
                  <div class="btn_cont3">
                    <a href="sub_service_br.html">
                      <img src="./assets/images/sec5_button1.png" alt="자세히보기버튼" />
                      <p>자세히보기</p>
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="sec4">
  <div class="sec4_inner">
    <div class="center">
      <h2 class="sec1_txt4">문의처 안내</h2>
      <div class="sec1_4_left">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3166.4995294673995!2d126.88241281564623!3d37.472536837262915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b61e671399415%3A0x51f62570868222f2!2z7ISc7Jq47Yq567OE7IucIOq4iOyynOq1rCDqsIDsgrDrj5kg6rCA7IKw65SU7KeA7YS4MeuhnCA3NQ!5e0!3m2!1sko!2skr!4v1621305763438!5m2!1sko!2skr" width="135%" height="340" style="border: 0" allowfullscreen="" loading="lazy"></iframe>
      </div>
      <div class="sec1_4_left_m">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3166.4995294673995!2d126.88241281564623!3d37.472536837262915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b61e6713499415%3A0x51f62570868222f2!2z7ISc7Jq47Yq567OE7IucIOq4iOyynOq1rCDqsIDsgrDrj5kg6rCA7IKw65SU7KeA7YS4MeuhnCA3NQ!5e0!3m2!1sko!2skr!4v1621305763438!5m2!1sko!2skr" width="100%" height="200px" style="border: 0" allowfullscreen="" loading="lazy"></iframe>
      </div>
      <div class="sec1_4_right">
        <table>
          <tr>
            <th><img src="./assets/images/dot.png" alt="목록아이콘" />&nbsp;도로명</th>
            <td>서울특별시 금천구 가산디지털1로 75-15<br />가산하우스디와이즈타워 제2층 제226호,227호</td>
          </tr>
          <tr>
            <th><img src="./assets/images/dot.png" alt="목록아이콘" />&nbsp;지번</th>
            <td>서울특별시 금천구 가산동 345-19<br />가산하우스디와이즈타워 제2층 제226호,227호</td>
          </tr>
          <tr>
            <th><img src="./assets/images/dot.png" alt="목록아이콘" />&nbsp;연락처</th>
            <td>· TEL 070-4085-8709&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;· FAX 031-698-8208</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
