.login-wrap{padding:0 10px;}
.login-wrap > #wrap{max-width:1290px;margin:50px auto;text-align:center;}
.login-wrap > #wrap > .login-box{margin-top:120px;background:url(../images/login/login-wrap.png) no-repeat left top;min-height:520px;}
.login-wrap > #wrap > .login-box > .box{Float:right;max-width:461px;height:457px;background:#fff;box-shadow: 0 0 30px rgba(0,0,0,.3);border-radius:5px;}
.login-wrap > #wrap > .login-box > .box > h3.tit{height:84px;padding:15px 30px;line-height:54px;font-size:48px;font-weight:700;background:#6a8cd9;color:#fff;border-radius: 5px 5px 0 0;}
.login-wrap > #wrap > .login-box > .box > .txt-box{padding:0 50px;margin-top:25px;}
.login-wrap > #wrap > .login-box > .box > .txt-box > p.txt{font-size:22px;font-weight:400;color:#333333;line-height:30px;}
.login-wrap > #wrap > .login-box > .box > .txt-box > .login-input{margin-top:15px;}
.login-wrap > #wrap > .login-box > .box > .txt-box > .login-input li > input{width:100%;border-radius:5px;height:49px;}
.login-wrap > #wrap > .login-box > .box > .txt-box > .login-input li + li{margin-top:20px}
.login-wrap > #wrap > .login-box > .box > .txt-box > .login-checkbox{margin-top:20px;}
.login-wrap > #wrap > .login-box > .box > .txt-box > .login-checkbox span + span{margin-left:80px;}
.login-wrap > #wrap > .login-box > .box > .txt-box > .login-btn{margin-top:30px}
.login-wrap > #wrap > .login-box > .box > .txt-box > .login-btn > a{display:block;background:#605f8a;padding:15px;line-height:20px;color:#fff;font-size:17px;border-radius:5px;}

@media screen and (max-width:1200px) {
.login-wrap > #wrap > .login-box{background:url(../images/login/login-wrap.png) no-repeat left top;background-size:50% auto;}

}

@media screen and (max-width:1024px) {
.login-wrap > #wrap > .login-box{background:url(../images/login/login-wrap.png) no-repeat center top;background-size:auto 250px;padding-top:300px;margin:50px 0;}
.login-wrap > #wrap > .login-box > .box{float:none;margin:0 auto;padding-bottom:25px;}

}

@media screen and (max-width:500px) {
.login-wrap > #wrap > .login-box{background:none;padding-top:0;}
.login-wrap > #wrap > .login-box > .box{height:auto;}
.login-wrap > #wrap > .login-box > .box > .txt-box{padding:0 20px;}
.login-wrap > #wrap > .login-box > .box > .txt-box > .login-checkbox span{display:block;text-align:left;}
.login-wrap > #wrap > .login-box > .box > .txt-box > .login-checkbox span + span{margin-left:0;margin-top:3px;}
}