/* @import "~bootstrap/dist/css/bootstrap.css"; */
@import "~jqueryui/jquery-ui.min.css";

head,
body {
  height: 100%;
}

div.header {
  background-color: whitesmoke;
}

.w-45 {
  width: 45% !important;
}

.card-columns {
  column-count: 3;
  column-gap: 1.25rem;
  orphans: 1;
  widows: 1;
}

.card-deck {
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
}

.req {
  color: red;
}

.font-italic {
  font-style: italic;
}

.d-none {
  display: none !important;
}

/* 상위 메뉴 */
div.editor.menu[data-prnts-menu-id="-"] {
  margin-left: 0px;
}

/* 하위 메뉴 */
div.editor.menu:not([data-prnts-menu-id="-"]) {
  margin-left: 30px;
}
