<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">화면 수정</h4>
    <button type="button" class="btn btn-sm close d-none" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <label for="scrinNm">화면 명<span class="req">*</span></label>
      <input type="text" class="form-control" id="scrinGroupNm" formControlName="scrinNm" />

      <label for="scrinSeCode">화면 구분<span class="req">*</span></label>
      <select id="scrinSeCode" class="form-select" formControlName="scrinSeCode">
        <ng-container *ngFor="let x of scrinSeCodes">
          <option value="{{ x.cmmnCode }}">{{ x.cmmnCodeNm }}</option>
          <option value="{{ x.cmmnCode }}" selected *ngIf="x.cmmnCode === form.controls.scrinSeCode.value">{{ x.cmmnCodeNm }}</option>
        </ng-container>
      </select>

      <label for="menuNm">기준 데이터</label>
      <input type="text" id="menuNm" class="form-control" formControlName="menuNm" readonly />
    </form>

    <div class="mt-1 font-italic"><span class="req">*</span> 필수입력 항목입니다.</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="modal.close('SAVE')">저장</button>
    <button type="button" class="btn btn-outline-secondary" (click)="modal.close('CLOSE')">닫기</button>
  </div>
</ng-template>
