<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">대상 시스템 선택</h4>
    <button type="button" class="btn btn-sm close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <label for="trgetSysId">대상 시스템</label>
      <select id="trgetSysId" class="form-select" formControlName="trgetSysId">
        <option value="">-선택-</option>
        <ng-container *ngFor="let x of trgetSyss">
          <option value="{{ x.trgetSysId }}">{{ x.trgetSysNm }}</option>
        </ng-container>
      </select>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="modal.close('SELECT')">선택</button>
    <button type="button" class="btn btn-outline-secondary" (click)="modal.close('CLOSE')">닫기</button>
  </div>
</ng-template>
